# Импорты

In [1]:
import pandas as pd
import numpy as np

# Загрузка данных и первое знакомство

In [2]:
dir = 'D:/Книги/Программирование/ML_contests_хакатоны/data_secrets_first_cup/'

In [3]:
orders = pd.read_csv(dir + 'orders.csv')
mobile_events = pd.read_csv(dir + 'mobile_events.csv')
clients_promo_october = pd.read_csv(dir + 'clients_promo_october.csv')
train_target = pd.read_csv(dir + 'train_target.csv')
test = pd.read_csv(dir + 'test.csv')

In [4]:
orders.describe()

,addressId,deliverySectorId,NewClient,ClientOrderNumber,CategoryId,ProductTotalPrice,MenuPrice,OrderState,OrderPaymentType,OrderTotalPrice,OrderType,apply_promo
count,4.883250e+05,488325.000000,611739.000000,611739.000000,611739.000000,611739.000000,611739.000000,611739.000000,611739.000000,611739.000000,611739.000000,611739.000000
mean,2.964650e+05,81.843000,0.000656,51.259145,2.938350,232.922882,284.286601,4.095296,1.829803,1150.672311,1.402284,0.187686
std,1.970507e+06,588.142806,0.025595,49.811780,1.713509,234.839101,257.768164,0.811165,0.530010,2040.545692,0.800804,0.390462
min,0.000000e+00,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,4.000000,0.000000,0.000000,1.000000,0.000000
25%,0.000000e+00,0.000000,0.000000,21.000000,1.000000,36.000000,109.000000,4.000000,2.000000,661.000000,1.000000,0.000000
50%,0.000000e+00,0.000000,0.000000,38.000000,3.000000,169.000000,199.000000,4.000000,2.000000,959.000000,1.000000,0.000000
75%,0.000000e+00,0.000000,0.000000,65.000000,4.000000,359.000000,419.000000,4.000000,2.000000,1344.000000,1.000000,0.000000
max,1.809518e+07,6798.000000,1.000000,1845.000000,7.000000,1999.000000,2199.000000,11.000000,2.000000,99418.000000,3.000000,1.000000

In [5]:
orders.columns

Index(['OrderUUId', 'addressId', 'deliverySectorId', 'ClientUUId', 'Date',
       'SaleDate', 'UnitUUId', 'NewClient', 'ClientOrderNumber', 'ProductUUId',
       'CategoryId', 'ProductTotalPrice', 'MenuPrice', 'OrderState',
       'OrderPaymentType', 'OrderTotalPrice', 'OrderType', 'apply_promo'],
      dtype='object')

In [6]:
mobile_events.describe()

,ClientUUId,VisitToken,EventName,Platform,Timestamp
count,3916654,3916654,3916654,3916654,3916654
unique,29838,223964,11,2,3912656
top,000D3A284715A95511E81811EF62AD07,108ACB83-BA5B-4123-987E-1D8E0D99B211,screen_menu,ios,2023-10-14T06:00:21.558Z
freq,2257,441,939487,2003021,4

In [7]:
orders.head(5)

,OrderUUId,addressId,deliverySectorId,ClientUUId,Date,SaleDate,UnitUUId,NewClient,ClientOrderNumber,ProductUUId,CategoryId,ProductTotalPrice,MenuPrice,OrderState,OrderPaymentType,OrderTotalPrice,OrderType,apply_promo
0,020DD76CCD949AE011EDE031ED5D76FD,NaN,NaN,000D3AAC9DCABB2E11EBE0614C89D044,2023-04-21,2023-04-21T20:51:26.000Z,000D3A2480C380DA11E692CFB9F92484,0,18,000D3A240C71BE9A11E719BE2AB264A6,4,1.0,45.0,4,2,1.0,3,0
1,02164D9B0F67BC3311EE610987AF48C7,0.0,0.0,000D3A21DA51A81411EAF10674007D74,2023-10-02,2023-10-02T21:31:32.000Z,000D3A26B5B080DF11E745FD0474B95C,0,29,11EC9AABAD354BE051CCF1EE1F83A8D0,1,485.0,485.0,4,2,1164.0,1,0
2,02164D9B0F67BC3311EE610987AF48C7,0.0,0.0,000D3A21DA51A81411EAF10674007D74,2023-10-02,2023-10-02T21:31:32.000Z,000D3A26B5B080DF11E745FD0474B95C,0,29,11EB846583CB3BDEA80D1A7F2E184D40,1,589.0,589.0,4,2,1164.0,1,0
3,02164D9B0F67BC3311EE610987AF48C7,0.0,0.0,000D3A21DA51A81411EAF10674007D74,2023-10-02,2023-10-02T21:31:32.000Z,000D3A26B5B080DF11E745FD0474B95C,0,29,000D3A240C71BE9A11E719BE2AB267FD,4,45.0,45.0,4,2,1164.0,1,0
4,02164D9B0F67BC3311EE610987AF48C7,0.0,0.0,000D3A21DA51A81411EAF10674007D74,2023-10-02,2023-10-02T21:31:32.000Z,000D3A26B5B080DF11E745FD0474B95C,0,29,000D3A240C71BE9A11E719BE2AB264A6,4,45.0,45.0,4,2,1164.0,1,0

In [8]:
clients_promo_october.head()

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
0,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,25
1,000D3A20F23EA95811E7B7D79FAABAA1,5,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,300
2,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1249,200
3,000D3A20F23EA95811E7B99F3ED09FC8,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1249,30
4,000D3A20F23EA95811E7BD373E79565E,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,20

In [9]:
clients_promo_october.describe()

                  Id     OrderPrice       Discount
count  477275.000000  477275.000000  477275.000000
mean        5.888025    1018.785134     127.781499
std         0.720273     242.192403     105.889668
min         5.000000     599.000000      10.000000
25%         5.000000     799.000000      20.000000
50%         6.000000     999.000000     150.000000
75%         6.000000    1249.000000     200.000000
max         7.000000    1399.000000     300.000000

In [10]:
train_target.head()

,ClientUUId,Id,OrderType,LocalBeginDate,LocalEndDate,OrderPrice,Discount,apply_promo
0,000D3A20F23EA95811E7B99F3ED09FC8,7,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,699,200,0
1,000D3A20F23EA95811E7B99F3ED09FC8,6,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,25,0
2,000D3A20F23EA95811E7BD373E79565E,5,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,799,200,0
3,000D3A20F23EA95811E7BD373E79565E,5,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,250,0
4,000D3A20F23EA95811E7BDAE71CD3F33,6,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,699,30,0

In [11]:
train_target.describe()

                 Id    OrderPrice      Discount   apply_promo
count  27741.000000  27741.000000  27741.000000  27741.000000
mean       6.089831    943.219747    162.694928      0.029811
std        0.861960    225.759604     86.335719      0.170070
min        5.000000    599.000000     15.000000      0.000000
25%        5.000000    799.000000    100.000000      0.000000
50%        6.000000    799.000000    200.000000      0.000000
75%        7.000000   1249.000000    200.000000      0.000000
max        7.000000   1249.000000    300.000000      1.000000

In [12]:
test.head()

,ClientUUId,Id,OrderType,LocalBeginDate,LocalEndDate,OrderPrice,Discount
0,000D3A20F23EA95811E7C0A95563344E,7,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,200
1,000D3A20F23EA95811E7C7892A0CE261,5,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,699,200
2,000D3A20F23EA95811E7CD686C396528,6,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,20
3,000D3A20F23EA95911E7CEA8C574EDAE,5,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,200
4,000D3A20F23EA95911E7D4F05C59C978,7,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,200

In [13]:
test.describe()

                Id   OrderPrice     Discount
count  6806.000000  6806.000000  6806.000000
mean      6.113135   943.997061   162.062886
std       0.855366   225.962599    87.227680
min       5.000000   599.000000    15.000000
25%       5.000000   799.000000    30.000000
50%       6.000000   799.000000   200.000000
75%       7.000000  1249.000000   200.000000
max       7.000000  1249.000000   300.000000

In [14]:
sub = pd.read_csv(dir + 'submit.csv')
sub

      apply_promo
0        0.005683
1        0.049040
2        0.017462
3        0.019422
4        0.030647
...           ...
6801     0.015290
6802     0.016208
6803     0.027059
6804     0.105610
6805     0.011470

[6806 rows x 1 columns]

In [15]:
test.columns

Index(['ClientUUId', 'Id', 'OrderType', 'LocalBeginDate', 'LocalEndDate',
       'OrderPrice', 'Discount'],
      dtype='object')

In [16]:
test.ClientUUId.nunique

<bound method IndexOpsMixin.nunique of 0       000D3A20F23EA95811E7C0A95563344E
1       000D3A20F23EA95811E7C7892A0CE261
2       000D3A20F23EA95811E7CD686C396528
3       000D3A20F23EA95911E7CEA8C574EDAE
4       000D3A20F23EA95911E7D4F05C59C978
                      ...
6801    E25501F0CF189F4711ECF161D396AAEB
6802    000D3AAC977BBB2F11ECDE319AE8B765
6803    000D3A39D824A81611E922DAAA472ACF
6804    000D3A39D824A82E11E983DB973D46C8
6805    000D3A21DA51A81311EA440F30295A02
Name: ClientUUId, Length: 6806, dtype: object>

In [17]:
test.ClientUUId.nunique()

4559

In [18]:
len(test)

6806

In [19]:
train_target.ClientUUId.nunique()

18598

In [20]:
len(train_target)

27741

In [21]:
clients_promo_october.ClientUUId.nunique()

30000

In [22]:
clients_promo_october.head(2)

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
0,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,25
1,000D3A20F23EA95811E7B7D79FAABAA1,5,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,300

In [23]:
id_cpo_0 = clients_promo_october.loc[clients_promo_october['ClientUUId'].str.contains('000D3A20F23EA95811E7B7104AC23CD3', na=False)]
id_cpo_0

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
0,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,25
26862,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",799,20
53576,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",1249,30
80939,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",1299,300
113882,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"2,3",799,20
131620,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1249,25
238719,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",799,20
265768,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",1249,300
292970,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",799,200
319549,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",799,20
346760,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",1249,300
380451,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"1,2,3",1199,30
398296,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",799,200
425582,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",799,20

In [24]:
id_cpo_0.sort_values(by=['LocalBeginDate'])

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
113882,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"2,3",799,20
380451,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"1,2,3",1199,30
131620,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1249,25
425582,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",799,20
80939,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",1299,300
292970,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",799,200
0,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,25
26862,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",799,20
238719,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",799,20
265768,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",1249,300
53576,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",1249,30
319549,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",799,20
346760,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",1249,300
398296,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",799,200

In [25]:
id_cpo_0.sort_values(by=['OrderType'])

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
0,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,25
53576,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",1249,30
80939,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",1299,300
131620,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1249,25
265768,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",1249,300
346760,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",1249,300
380451,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"1,2,3",1199,30
26862,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",799,20
113882,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"2,3",799,20
238719,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",799,20
292970,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",799,200
319549,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",799,20
398296,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",799,200
425582,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",799,20

In [26]:
id_cpo_0.sort_values(by=['LocalBeginDate', 'OrderType'])

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
380451,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"1,2,3",1199,30
113882,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"2,3",799,20
131620,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1249,25
425582,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",799,20
80939,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",1299,300
292970,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",799,200
0,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,25
26862,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",799,20
265768,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",1249,300
238719,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",799,20
53576,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",1249,30
319549,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",799,20
346760,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",1249,300
398296,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",799,200

In [27]:
id_cpo_1 = clients_promo_october.loc[clients_promo_october['ClientUUId'].str.contains('000D3A20F23EA95811E7B7D79FAABAA1', na=False)]
id_cpo_1.sort_values(by=['LocalBeginDate', 'OrderType'])

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
380452,000D3A20F23EA95811E7B7D79FAABAA1,7,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"1,2,3",1249,300
113883,000D3A20F23EA95811E7B7D79FAABAA1,5,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"2,3",1299,200
131621,000D3A20F23EA95811E7B7D79FAABAA1,5,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1249,250
425583,000D3A20F23EA95811E7B7D79FAABAA1,7,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",1299,300
80940,000D3A20F23EA95811E7B7D79FAABAA1,6,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",1299,25
292971,000D3A20F23EA95811E7B7D79FAABAA1,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",1299,200
1,000D3A20F23EA95811E7B7D79FAABAA1,5,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,300
26863,000D3A20F23EA95811E7B7D79FAABAA1,5,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",1299,200
265769,000D3A20F23EA95811E7B7D79FAABAA1,6,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",1399,15
238720,000D3A20F23EA95811E7B7D79FAABAA1,5,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",1299,200
53577,000D3A20F23EA95811E7B7D79FAABAA1,5,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",1399,250
319550,000D3A20F23EA95811E7B7D79FAABAA1,5,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",1299,200
346761,000D3A20F23EA95811E7B7D79FAABAA1,7,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",1399,250
398297,000D3A20F23EA95811E7B7D79FAABAA1,7,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",1299,300
155968,000D3A20F23EA95811E7B7D79FAABAA1,7,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"1,2,3",1399,250
183602,000D3A20F23EA95811E7B7D79FAABAA1,7,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"2,3",1199,300
211082,000D3A20F23EA95811E7B7D79FAABAA1,7,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"1,2,3",1399,250
449789,000D3A20F23EA95811E7B7D79FAABAA1,7,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",1299,300

In [28]:
# берём ID из трейна, и смотрим в clients_promo_october
id_cpo_tt0 = clients_promo_october.loc[clients_promo_october['ClientUUId'].str.contains('000D3A20F23EA95811E7B99F3ED09FC8', na=False)]
id_cpo_tt0.sort_values(by=['LocalBeginDate', 'OrderType'])

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
131624,000D3A20F23EA95811E7B99F3ED09FC8,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1249,30
425586,000D3A20F23EA95811E7B99F3ED09FC8,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",799,20
80943,000D3A20F23EA95811E7B99F3ED09FC8,6,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",1299,20
292974,000D3A20F23EA95811E7B99F3ED09FC8,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",799,200
3,000D3A20F23EA95811E7B99F3ED09FC8,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1249,30
26865,000D3A20F23EA95811E7B99F3ED09FC8,5,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",749,150
265771,000D3A20F23EA95811E7B99F3ED09FC8,7,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",1299,250
238722,000D3A20F23EA95811E7B99F3ED09FC8,5,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",749,150
346764,000D3A20F23EA95811E7B99F3ED09FC8,6,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",1249,25
398300,000D3A20F23EA95811E7B99F3ED09FC8,6,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",699,20
155971,000D3A20F23EA95811E7B99F3ED09FC8,6,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"1,2,3",1249,30
183605,000D3A20F23EA95811E7B99F3ED09FC8,5,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"2,3",699,150
211085,000D3A20F23EA95811E7B99F3ED09FC8,6,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"1,2,3",1249,30
449792,000D3A20F23EA95811E7B99F3ED09FC8,6,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",699,20

In [29]:
id_cpo_tt1 = clients_promo_october.loc[clients_promo_october['ClientUUId'].str.contains('000D3A20F23EA95811E7BD373E79565E', na=False)]
id_cpo_tt1.sort_values(by=['LocalBeginDate', 'OrderType'])

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
374193,000D3A20F23EA95811E7BD373E79565E,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"1,2,3",1099,25
107666,000D3A20F23EA95811E7BD373E79565E,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"2,3",699,25
131626,000D3A20F23EA95811E7BD373E79565E,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1099,20
425588,000D3A20F23EA95811E7BD373E79565E,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",699,25
4,000D3A20F23EA95811E7BD373E79565E,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,20
26866,000D3A20F23EA95811E7BD373E79565E,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",749,25
265772,000D3A20F23EA95811E7BD373E79565E,7,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",1299,300
238723,000D3A20F23EA95811E7BD373E79565E,5,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",749,200
53581,000D3A20F23EA95811E7BD373E79565E,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",1249,25
319554,000D3A20F23EA95811E7BD373E79565E,5,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",799,200
346766,000D3A20F23EA95811E7BD373E79565E,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",1249,250
398302,000D3A20F23EA95811E7BD373E79565E,6,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",799,20

In [30]:
id_cpo_tt2 = clients_promo_october.loc[clients_promo_october['ClientUUId'].str.contains('000D3A20F23EA95811E7BDAE71CD3F33', na=False)]
id_cpo_tt2.sort_values(by=['LocalBeginDate', 'OrderType'])

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
374194,000D3A20F23EA95811E7BDAE71CD3F33,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"1,2,3",1199,30
107667,000D3A20F23EA95811E7BDAE71CD3F33,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"2,3",699,30
131627,000D3A20F23EA95811E7BDAE71CD3F33,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1249,25
425589,000D3A20F23EA95811E7BDAE71CD3F33,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",699,30
80945,000D3A20F23EA95811E7BDAE71CD3F33,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",1299,300
292976,000D3A20F23EA95811E7BDAE71CD3F33,6,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",699,30
5,000D3A20F23EA95811E7BDAE71CD3F33,5,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,300
26867,000D3A20F23EA95811E7BDAE71CD3F33,5,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",699,200
265773,000D3A20F23EA95811E7BDAE71CD3F33,7,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",1299,300
238724,000D3A20F23EA95811E7BDAE71CD3F33,5,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",699,200
53582,000D3A20F23EA95811E7BDAE71CD3F33,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",1249,25
319555,000D3A20F23EA95811E7BDAE71CD3F33,5,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",699,200
346767,000D3A20F23EA95811E7BDAE71CD3F33,6,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",1249,30
398303,000D3A20F23EA95811E7BDAE71CD3F33,6,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",699,30
155973,000D3A20F23EA95811E7BDAE71CD3F33,5,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"1,2,3",1249,250
183607,000D3A20F23EA95811E7BDAE71CD3F33,5,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"2,3",749,200
211087,000D3A20F23EA95811E7BDAE71CD3F33,6,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"1,2,3",1249,30
449794,000D3A20F23EA95811E7BDAE71CD3F33,5,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",749,200

In [31]:
# берём ID из теста, и смотрим в clients_promo_october
id_cpo_ts0 = clients_promo_october.loc[clients_promo_october['ClientUUId'].str.contains('000D3A20F23EA95811E7C0A95563344E', na=False)]
id_cpo_ts0.sort_values(by=['LocalBeginDate', 'OrderType'])

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
131631,000D3A20F23EA95811E7C0A95563344E,7,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",849,130
425593,000D3A20F23EA95811E7C0A95563344E,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",799,20
80950,000D3A20F23EA95811E7C0A95563344E,6,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",849,20
292981,000D3A20F23EA95811E7C0A95563344E,6,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",799,20
53587,000D3A20F23EA95811E7C0A95563344E,7,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",849,150
319560,000D3A20F23EA95811E7C0A95563344E,5,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",799,200
346772,000D3A20F23EA95811E7C0A95563344E,7,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",899,150
398308,000D3A20F23EA95811E7C0A95563344E,6,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",799,20
155978,000D3A20F23EA95811E7C0A95563344E,7,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"1,2,3",899,130
183612,000D3A20F23EA95811E7C0A95563344E,5,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"2,3",799,200
211093,000D3A20F23EA95811E7C0A95563344E,7,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"1,2,3",899,130
449800,000D3A20F23EA95811E7C0A95563344E,6,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",799,20

In [32]:
id_cpo_ts1 = clients_promo_october.loc[clients_promo_october['ClientUUId'].str.contains('000D3A20F23EA95811E7C7892A0CE261', na=False)]
id_cpo_ts1.sort_values(by=['LocalBeginDate', 'OrderType'])

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
374201,000D3A20F23EA95811E7C7892A0CE261,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"1,2,3",1149,30
107674,000D3A20F23EA95811E7C7892A0CE261,5,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"2,3",699,200
131635,000D3A20F23EA95811E7C7892A0CE261,5,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1149,300
425597,000D3A20F23EA95811E7C7892A0CE261,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",699,30
80955,000D3A20F23EA95811E7C7892A0CE261,6,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",849,25
292986,000D3A20F23EA95811E7C7892A0CE261,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",699,200
15,000D3A20F23EA95811E7C7892A0CE261,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",849,20
26877,000D3A20F23EA95811E7C7892A0CE261,5,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",699,200
265782,000D3A20F23EA95811E7C7892A0CE261,5,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",849,250
238733,000D3A20F23EA95811E7C7892A0CE261,6,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",699,30
53592,000D3A20F23EA95811E7C7892A0CE261,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",849,20
319565,000D3A20F23EA95811E7C7892A0CE261,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",699,30
346777,000D3A20F23EA95811E7C7892A0CE261,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",999,300
398313,000D3A20F23EA95811E7C7892A0CE261,6,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",699,30
211098,000D3A20F23EA95811E7C7892A0CE261,5,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"1,2,3",999,200
449805,000D3A20F23EA95811E7C7892A0CE261,6,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",699,30

In [33]:
id_cpo_ts2 = clients_promo_october.loc[clients_promo_october['ClientUUId'].str.contains('000D3A20F23EA95811E7CD686C396528', na=False)]
id_cpo_ts2.sort_values(by=['LocalBeginDate', 'OrderType'])

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
80962,000D3A20F23EA95811E7CD686C396528,7,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",1249,250
292993,000D3A20F23EA95811E7CD686C396528,6,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",749,20
22,000D3A20F23EA95811E7CD686C396528,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1249,15
26884,000D3A20F23EA95811E7CD686C396528,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",749,20
265791,000D3A20F23EA95811E7CD686C396528,7,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",1299,250
238742,000D3A20F23EA95811E7CD686C396528,6,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",799,20
53601,000D3A20F23EA95811E7CD686C396528,5,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",1299,200
319574,000D3A20F23EA95811E7CD686C396528,5,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",799,200
346786,000D3A20F23EA95811E7CD686C396528,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",1349,250
398322,000D3A20F23EA95811E7CD686C396528,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",799,200
155991,000D3A20F23EA95811E7CD686C396528,7,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"1,2,3",1349,250
183625,000D3A20F23EA95811E7CD686C396528,6,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"2,3",749,25
211107,000D3A20F23EA95811E7CD686C396528,7,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"1,2,3",1349,250
449814,000D3A20F23EA95811E7CD686C396528,5,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",749,200

In [34]:
orders.ClientUUId.nunique()

16337

In [35]:
orders.shape

(611739, 18)

In [36]:
mobile_events.ClientUUId.nunique()

29838

In [37]:
mobile_events.Platform.unique()

array(['ios', 'android'], dtype=object)

In [38]:
train_target.ClientUUId.nunique()

18598

In [39]:
# Посчитаем количество одинаковых ID в clients_promo_october и train_target
cpoClientUUIdunique = clients_promo_october.ClientUUId.unique()
ttClientUUIdunique = train_target.ClientUUId.unique()
print("clients_promo_october", len(cpoClientUUIdunique), "train_target", len(ttClientUUIdunique))
intersection_cpo_tt_ClientUUIdunique = np.intersect1d(cpoClientUUIdunique, ttClientUUIdunique)
print("intersection_cpo_tt_ClientUUIdunique", len(intersection_cpo_tt_ClientUUIdunique))

clients_promo_october 30000 train_target 18598
intersection_cpo_tt_ClientUUIdunique 18598

In [40]:
# Посчитаем количество одинаковых ID в clients_promo_october и test
cpoClientUUIdunique = clients_promo_october.ClientUUId.unique()
testClientUUIdunique = test.ClientUUId.unique()
print("clients_promo_october", len(cpoClientUUIdunique), "test", len(testClientUUIdunique))
intersection_cpo_test_ClientUUIdunique = np.intersect1d(cpoClientUUIdunique, testClientUUIdunique)
print("intersection_cpo_test_ClientUUIdunique", len(intersection_cpo_test_ClientUUIdunique))

clients_promo_october 30000 test 4559
intersection_cpo_test_ClientUUIdunique 4559

In [41]:
test.ClientUUId.nunique()

4559

In [42]:
# Посчитаем количество одинаковых ID в и train_target и test
ttClientUUIdunique = train_target.ClientUUId.unique()
testClientUUIdunique = test.ClientUUId.unique()
print("ttClientUUIdunique", len(ttClientUUIdunique), "testClientUUIdunique", len(testClientUUIdunique))
intersection_tt_test_ClientUUIdunique = np.intersect1d(ttClientUUIdunique, testClientUUIdunique)
print("intersection_tt_test_ClientUUIdunique", len(intersection_tt_test_ClientUUIdunique))

ttClientUUIdunique 18598 testClientUUIdunique 4559
intersection_tt_test_ClientUUIdunique 0

In [43]:
# Посмотрим также пересечение между orders и test
ordersClientUUIdunique = orders.ClientUUId.unique()
testClientUUIdunique = test.ClientUUId.unique()
print("orders", len(ordersClientUUIdunique), "test", len(testClientUUIdunique))
intersection_orders_test_ClientUUIdunique = np.intersect1d(ordersClientUUIdunique, testClientUUIdunique)
print("intersection_orders_test_ClientUUIdunique", len(intersection_orders_test_ClientUUIdunique))

orders 16337 test 4559
intersection_orders_test_ClientUUIdunique 2464

### Создадим файл для фильтрации данных из test, чтобы обучать на этих данных разные модили

In [44]:
test_with_filter = test.copy()
test_with_filter

,ClientUUId,Id,OrderType,LocalBeginDate,LocalEndDate,OrderPrice,Discount
0,000D3A20F23EA95811E7C0A95563344E,7,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,200
1,000D3A20F23EA95811E7C7892A0CE261,5,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,699,200
2,000D3A20F23EA95811E7CD686C396528,6,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,20
3,000D3A20F23EA95911E7CEA8C574EDAE,5,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,200
4,000D3A20F23EA95911E7D4F05C59C978,7,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,200
...,...,...,...,...,...,...,...
6801,E25501F0CF189F4711ECF161D396AAEB,5,"1,2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,1249,250
6802,000D3AAC977BBB2F11ECDE319AE8B765,7,"1,2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,1249,200
6803,000D3A39D824A81611E922DAAA472ACF,6,"1,2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,1249,20
6804,000D3A39D824A82E11E983DB973D46C8,7,"1,2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,1149,200
6805,000D3A21DA51A81311EA440F30295A02,7,"1,2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,1249,250

In [45]:
test_with_filter['InOrders'] = None
test_with_filter['NotInOrders'] = None

In [46]:
test_with_filter.head(2)

,ClientUUId,Id,OrderType,LocalBeginDate,LocalEndDate,OrderPrice,Discount,InOrders,NotInOrders
0,000D3A20F23EA95811E7C0A95563344E,7,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,200,None,None
1,000D3A20F23EA95811E7C7892A0CE261,5,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,699,200,None,None

In [47]:
# цикл для итерации по данными и сохранению id в нужные колонки
for idx, row in test_with_filter.iterrows():
    if row['ClientUUId'] in intersection_orders_test_ClientUUIdunique:
        test_with_filter.at[idx, 'InOrders'] = idx
    else:
        test_with_filter.at[idx, 'NotInOrders'] = idx

In [48]:
test_with_filter.columns

Index(['ClientUUId', 'Id', 'OrderType', 'LocalBeginDate', 'LocalEndDate',
       'OrderPrice', 'Discount', 'InOrders', 'NotInOrders'],
      dtype='object')

In [49]:
test_with_filter = test_with_filter.drop(['Id', 'OrderType', 'LocalBeginDate', 'LocalEndDate', 'OrderPrice', 'Discount'], axis=1)
test_with_filter.head(2)

                         ClientUUId InOrders NotInOrders
0  000D3A20F23EA95811E7C0A95563344E        0        None
1  000D3A20F23EA95811E7C7892A0CE261        1        None

In [50]:
# сохраняем test_with_filter, тестовый файл с индексами, которые помогут найти совпадения в orders
test_with_filter.to_csv(dir + 'test_ids_with_filter.csv', index=False)

### Продолжаем знакомство с данными

In [51]:
# Посмтрим на ID человека из clients_promo_october, есть ли он в mobile_events
id_cpo_me0 = mobile_events.loc[mobile_events['ClientUUId'].str.contains('000D3A20F23EA95811E7B99F3ED09FC8', na=False)]
# id_cpo_me0.sort_values(by=['LocalBeginDate', 'OrderType']) # крашнулось
id_cpo_me0.sort_values(by=['Timestamp'])

,ClientUUId,VisitToken,EventName,Platform,Timestamp
2990345,000D3A20F23EA95811E7B99F3ED09FC8,858ACD0F-F75A-4AE3-A650-847FF705DD32,open_app,ios,2023-10-02T05:36:21.615Z
2844152,000D3A20F23EA95811E7B99F3ED09FC8,858ACD0F-F75A-4AE3-A650-847FF705DD32,screen_menu,ios,2023-10-02T05:36:21.633Z
662293,000D3A20F23EA95811E7B99F3ED09FC8,858ACD0F-F75A-4AE3-A650-847FF705DD32,open_product_card,ios,2023-10-02T05:36:46.522Z
3246914,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,close_app,ios,2023-10-02T05:37:32.423Z
3198496,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,open_app,ios,2023-10-06T13:41:29.575Z
...,...,...,...,...,...
2934633,000D3A20F23EA95811E7B99F3ED09FC8,553DF11C-8799-4FAC-ACE0-85BB41605960,close_app,ios,2023-10-31T07:26:04.912Z
3737900,000D3A20F23EA95811E7B99F3ED09FC8,553DF11C-8799-4FAC-ACE0-85BB41605960,create_order,ios,2023-10-31T07:26:06.341Z
2768975,000D3A20F23EA95811E7B99F3ED09FC8,553DF11C-8799-4FAC-ACE0-85BB41605960,screen_menu,ios,2023-10-31T07:26:06.659Z
3742392,000D3A20F23EA95811E7B99F3ED09FC8,553DF11C-8799-4FAC-ACE0-85BB41605960,open_app,ios,2023-10-31T07:30:08.384Z
2759019,000D3A20F23EA95811E7B99F3ED09FC8,553DF11C-8799-4FAC-ACE0-85BB41605960,close_app,ios,2023-10-31T07:30:11.326Z

In [52]:
sorted = id_cpo_me0.sort_values(by=['Timestamp'])
sorted.head(55)

,ClientUUId,VisitToken,EventName,Platform,Timestamp
2990345,000D3A20F23EA95811E7B99F3ED09FC8,858ACD0F-F75A-4AE3-A650-847FF705DD32,open_app,ios,2023-10-02T05:36:21.615Z
2844152,000D3A20F23EA95811E7B99F3ED09FC8,858ACD0F-F75A-4AE3-A650-847FF705DD32,screen_menu,ios,2023-10-02T05:36:21.633Z
662293,000D3A20F23EA95811E7B99F3ED09FC8,858ACD0F-F75A-4AE3-A650-847FF705DD32,open_product_card,ios,2023-10-02T05:36:46.522Z
3246914,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,close_app,ios,2023-10-02T05:37:32.423Z
3198496,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,open_app,ios,2023-10-06T13:41:29.575Z
240306,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,screen_menu,ios,2023-10-06T13:41:29.593Z
1963261,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,open_product_card,ios,2023-10-06T13:41:49.214Z
233610,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,add_to_cart,ios,2023-10-06T13:41:50.693Z
2187769,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,screen_menu,ios,2023-10-06T13:41:51.063Z
3036462,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,open_product_card,ios,2023-10-06T13:42:15.078Z
1126189,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,screen_menu,ios,2023-10-06T13:42:16.886Z
1126855,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,open_product_card,ios,2023-10-06T13:42:20.533Z
232556,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,screen_menu,ios,2023-10-06T13:42:22.628Z
240426,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,open_product_card,ios,2023-10-06T13:43:00.126Z
1127134,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,add_to_cart,ios,2023-10-06T13:43:01.188Z
269196,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,screen_menu,ios,2023-10-06T13:43:01.551Z
267240,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,screen_cart,ios,2023-10-06T13:43:06.539Z
2183055,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,screen_menu,ios,2023-10-06T13:43:51.400Z
1110303,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,open_product_card,ios,2023-10-06T13:44:10.094Z
240689,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,add_to_cart,ios,2023-10-06T13:44:13.347Z
370523,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,screen_menu,ios,2023-10-06T13:44:13.719Z
3195504,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,screen_cart,ios,2023-10-06T13:44:15.569Z
267067,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,create_order,ios,2023-10-06T13:45:12.735Z
3036802,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,screen_menu,ios,2023-10-06T13:45:12.916Z
371107,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,close_app,ios,2023-10-06T13:45:21.156Z
241110,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,open_app,ios,2023-10-06T13:46:53.511Z
3214191,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,close_app,ios,2023-10-06T13:47:00.972Z
2182774,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,open_app,ios,2023-10-06T13:47:26.157Z
3214849,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,close_app,ios,2023-10-06T13:47:49.150Z
267377,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,open_app,ios,2023-10-06T13:49:42.205Z
3198936,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,close_app,ios,2023-10-06T13:49:42.215Z
3196063,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,open_app,ios,2023-10-06T13:54:21.299Z
3194323,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,close_app,ios,2023-10-06T13:54:34.814Z
3214886,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,open_app,ios,2023-10-06T13:55:49.192Z
1297381,000D3A20F23EA95811E7B99F3ED09FC8,41DD22EA-E72E-497A-9CBC-E491696205D2,close_app,ios,2023-10-06T13:55:57.144Z
1132563,000D3A20F23EA95811E7B99F3ED09FC8,41DD22EA-E72E-497A-9CBC-E491696205D2,close_app,ios,2023-10-06T13:55:57.187Z
3155900,000D3A20F23EA95811E7B99F3ED09FC8,41DD22EA-E72E-497A-9CBC-E491696205D2,open_app,ios,2023-10-06T13:55:57.215Z
1298535,000D3A20F23EA95811E7B99F3ED09FC8,41DD22EA-E72E-497A-9CBC-E491696205D2,open_app,ios,2023-10-10T18:01:38.569Z
2098887,000D3A20F23EA95811E7B99F3ED09FC8,41DD22EA-E72E-497A-9CBC-E491696205D2,screen_menu,ios,2023-10-10T18:01:38.596Z
3632247,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,close_app,ios,2023-10-10T18:01:49.442Z
1638895,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,open_app,ios,2023-10-11T17:07:30.993Z
3828040,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,screen_menu,ios,2023-10-11T17:07:31.020Z
674002,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,open_product_card,ios,2023-10-11T17:08:50.656Z
944952,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,screen_menu,ios,2023-10-11T17:08:55.652Z
703718,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,open_product_card,ios,2023-10-11T17:09:01.244Z
1610778,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,screen_menu,ios,2023-10-11T17:09:13.781Z
1593224,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,open_product_card,ios,2023-10-11T17:09:42.761Z
3632403,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,screen_menu,ios,2023-10-11T17:09:47.055Z
2892723,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,open_product_card,ios,2023-10-11T17:09:55.148Z
3627388,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,screen_menu,ios,2023-10-11T17:09:59.782Z
1627442,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,open_product_card,ios,2023-10-11T17:11:27.296Z
3679180,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,screen_menu,ios,2023-10-11T17:11:34.943Z
3828459,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,open_product_card,ios,2023-10-11T17:11:39.751Z
3626884,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,add_to_cart,ios,2023-10-11T17:11:41.065Z
1924665,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,screen_menu,ios,2023-10-11T17:11:41.424Z

In [53]:
# Отметим, что 000D3A20F23EA95811E7B99F3ED09FC8 сделал заказы 6, 11, 17 и 31 октября согласно датасету mobile_events.csv
# Возможно, это не все его ордера. Например, он мог прийти в ресторан, и сделать заказ там без всякого приложения
# Либо открыть приложение в ресторане, но оплатить непосредственно на кассе

In [54]:
sorted_1 = sorted.loc[sorted['EventName'].str.contains('create_order', na=False)]
sorted_1

,ClientUUId,VisitToken,EventName,Platform,Timestamp
267067,000D3A20F23EA95811E7B99F3ED09FC8,232D8EB2-46F4-4E4F-8721-2D28AE5447B9,create_order,ios,2023-10-06T13:45:12.735Z
3632531,000D3A20F23EA95811E7B99F3ED09FC8,F093BD49-C458-4F71-A04C-1A9B35B2F628,create_order,ios,2023-10-11T17:18:30.547Z
1377826,000D3A20F23EA95811E7B99F3ED09FC8,1D758D1A-604E-42BE-AD1F-37B994491EAE,create_order,ios,2023-10-27T08:36:49.162Z
3737900,000D3A20F23EA95811E7B99F3ED09FC8,553DF11C-8799-4FAC-ACE0-85BB41605960,create_order,ios,2023-10-31T07:26:06.341Z

In [55]:
# Одинаковые ID есть в разных таблицах, что позвляет провести в дальнейшем преобразование данных
# VisitToken - интересная характеристика. После просмотра действий одного из пользователей видно,
# что за 25 токенов он сделал только 4 заказа
# Может, данные стоит так и преобразовать - представить количество уникальных токенов и количество фактических заказов.
# Можно попробовать сформировать период и переодичность токенов

In [56]:
sorted.VisitToken.nunique()  # но эти 25 токенов не очень точно свидетельствуют о количестве обращений к приложению.
# Так, 6 октября один токен сменился другим, и другой токен был присвоен действия в приложении 10 октября.

25

In [57]:
# Прежде, чем "собирать" общую таблицу, подумаем, почему датасет orders такой большой.
# Выделим данные о клиенте 000D3A20F23EA95811E7B99F3ED09FC8, котоырй сделал 4 заказа в mobile_events
# Возможно, VisitToken должен иметь более низкий приоритет для формирования датасета
# Мы также видим название платформы, с которой делался заказ. Возможно, эта перменная как-то связана с предпочтениями клиентов в плане пиццы и промоакций
# Присвоим Platform средний приоритет

In [58]:
orders.head(2)

,OrderUUId,addressId,deliverySectorId,ClientUUId,Date,SaleDate,UnitUUId,NewClient,ClientOrderNumber,ProductUUId,CategoryId,ProductTotalPrice,MenuPrice,OrderState,OrderPaymentType,OrderTotalPrice,OrderType,apply_promo
0,020DD76CCD949AE011EDE031ED5D76FD,NaN,NaN,000D3AAC9DCABB2E11EBE0614C89D044,2023-04-21,2023-04-21T20:51:26.000Z,000D3A2480C380DA11E692CFB9F92484,0,18,000D3A240C71BE9A11E719BE2AB264A6,4,1.0,45.0,4,2,1.0,3,0
1,02164D9B0F67BC3311EE610987AF48C7,0.0,0.0,000D3A21DA51A81411EAF10674007D74,2023-10-02,2023-10-02T21:31:32.000Z,000D3A26B5B080DF11E745FD0474B95C,0,29,11EC9AABAD354BE051CCF1EE1F83A8D0,1,485.0,485.0,4,2,1164.0,1,0

In [59]:
id_ord_0 = orders.loc[orders['ClientUUId'].str.contains('000D3A20F23EA95811E7B99F3ED09FC8', na=False)]
id_ord_0 = id_ord_0.sort_values(by=['SaleDate'])
id_ord_0

,OrderUUId,addressId,deliverySectorId,ClientUUId,Date,SaleDate,UnitUUId,NewClient,ClientOrderNumber,ProductUUId,CategoryId,ProductTotalPrice,MenuPrice,OrderState,OrderPaymentType,OrderTotalPrice,OrderType,apply_promo
333502,82CBF421468CA54111EE435159B1B59F,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-08-26,2023-08-26T15:58:05.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,97,11EBB830B8BEDFC180C29D4BD3477A30,1,494.00,629.0,4,2,989.0,1,0
333503,82CBF421468CA54111EE435159B1B59F,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-08-26,2023-08-26T15:58:05.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,97,11EBCF69A3A311738AEBB7EC5176FBC0,1,495.00,629.0,4,2,989.0,1,0
211304,AEC7B36609E18F1911EE458E836D08B4,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-08-28,2023-08-28T13:37:15.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,98,11EC06F1840C91B9A710D1135A5AFC40,3,164.00,169.0,4,2,414.0,3,0
211302,AEC7B36609E18F1911EE458E836D08B4,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-08-28,2023-08-28T13:37:15.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,98,000D3A29FF6BA94811E8E3225070A8B8,2,85.00,85.0,4,2,414.0,3,0
211303,AEC7B36609E18F1911EE458E836D08B4,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-08-28,2023-08-28T13:37:15.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,98,000D3A24D2B7A94311E857AF49FDC657,3,165.00,169.0,4,2,414.0,3,0
552217,52593C6156D5A6E211EE48E9A023A502,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-01,2023-09-01T20:36:18.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,100,11EBCF68A3A311738AEBB7EC0DF069A0,1,419.00,419.0,4,2,420.0,1,0
552218,52593C6156D5A6E211EE48E9A023A502,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-01,2023-09-01T20:36:18.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,100,11EA9454A3227F0AA5878FF71B011180,1,1.00,469.0,4,2,420.0,1,0
528478,7E1BB75DB60D987711EE4BADF16E9F54,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-05,2023-09-05T11:55:46.000Z,261EB4A8327D851A11EDAD0321C5C0EA,0,102,000D3A240C71BE9A11E719BE2ACF164C,1,513.00,649.0,4,2,5039.0,1,0
528477,7E1BB75DB60D987711EE4BADF16E9F54,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-05,2023-09-05T11:55:46.000Z,261EB4A8327D851A11EDAD0321C5C0EA,0,102,000D3A240C71BE9A11E719BE2AB1E910,1,513.00,649.0,4,2,5039.0,1,0
528476,7E1BB75DB60D987711EE4BADF16E9F54,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-05,2023-09-05T11:55:46.000Z,261EB4A8327D851A11EDAD0321C5C0EA,0,102,11EBCF69A3A311738AEBB7EC5176FBC0,1,513.00,649.0,4,2,5039.0,1,0
528475,7E1BB75DB60D987711EE4BADF16E9F54,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-05,2023-09-05T11:55:46.000Z,261EB4A8327D851A11EDAD0321C5C0EA,0,102,000D3A240C71BE9A11E719BE2AB1F06D,1,482.00,609.0,4,2,5039.0,1,0
528474,7E1BB75DB60D987711EE4BADF16E9F54,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-05,2023-09-05T11:55:46.000Z,261EB4A8327D851A11EDAD0321C5C0EA,0,102,11EBB830B8BEDFC180C29D4BD3477A30,1,513.00,649.0,4,2,5039.0,1,0
528473,7E1BB75DB60D987711EE4BADF16E9F54,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-05,2023-09-05T11:55:46.000Z,261EB4A8327D851A11EDAD0321C5C0EA,0,102,11EB85CAB6450FE05435CA8F0E85A660,1,482.00,609.0,4,2,5039.0,1,0
528472,7E1BB75DB60D987711EE4BADF16E9F54,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-05,2023-09-05T11:55:46.000Z,261EB4A8327D851A11EDAD0321C5C0EA,0,102,11ED1EFD9425CBA93FDD30C298D5EFF0,1,513.00,649.0,4,2,5039.0,1,0
528471,7E1BB75DB60D987711EE4BADF16E9F54,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-05,2023-09-05T11:55:46.000Z,261EB4A8327D851A11EDAD0321C5C0EA,0,102,000D3A240C71BE9A11E719BE2AD14504,1,484.00,609.0,4,2,5039.0,1,0
528470,7E1BB75DB60D987711EE4BADF16E9F54,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-05,2023-09-05T11:55:46.000Z,261EB4A8327D851A11EDAD0321C5C0EA,0,102,11EC9AABAD354BE051CCF1EE21B2E4E0,1,513.00,649.0,4,2,5039.0,1,0
528469,7E1BB75DB60D987711EE4BADF16E9F54,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-05,2023-09-05T11:55:46.000Z,261EB4A8327D851A11EDAD0321C5C0EA,0,102,000D3A39D824A82E11EA1CB2A6661ED2,1,513.00,649.0,4,2,5039.0,1,0
373517,2AF351E500E985EC11EE515E06026CF8,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-12,2023-09-12T14:52:11.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,104,000D3A24D2B7A94311E857AF49FDC657,3,164.00,169.0,4,2,330.0,1,0
373516,2AF351E500E985EC11EE515E06026CF8,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-12,2023-09-12T14:52:11.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,104,000D3A24D2B7A94311E857AF49FDC657,3,165.00,169.0,4,2,330.0,1,0
373518,2AF351E500E985EC11EE515E06026CF8,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-12,2023-09-12T14:52:11.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,104,000D3A240C71BE9A11E719BE2ACF136A,1,1.00,419.0,4,2,330.0,1,0
282824,5EE44EDAD9E6AFB211EE591DFCD2C627,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-22,2023-09-22T11:02:03.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,105,11EDFB13819243C9EEF45D1D4078EA90,2,149.00,149.0,4,2,318.0,3,0
282825,5EE44EDAD9E6AFB211EE591DFCD2C627,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-09-22,2023-09-22T11:02:03.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,105,000D3A24D2B7A94311E857AF49FDC657,3,169.00,169.0,4,2,318.0,3,0
100,060142565A45BC5211EE644E0DC6678B,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-10-06,2023-10-06T16:45:53.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,111,000D3A240C71BE9A11E719BE2AB264A6,4,0.00,40.0,4,2,330.0,3,0
101,060142565A45BC5211EE644E0DC6678B,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-10-06,2023-10-06T16:45:53.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,111,11ED42EDB34E05E6A7ADD5455E054740,3,127.05,159.0,4,2,330.0,3,0
102,060142565A45BC5211EE644E0DC6678B,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-10-06,2023-10-06T16:45:53.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,111,000D3A29FF6BA94811E8E32187AB7A31,2,67.92,85.0,4,2,330.0,3,0
103,060142565A45BC5211EE644E0DC6678B,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-10-06,2023-10-06T16:45:53.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,111,000D3A24D2B7A94311E857AF49FDC657,3,135.03,169.0,4,2,330.0,3,0
284216,9A7B8074B58EA2E911EE67970F36988C,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-10-11,2023-10-11T20:29:32.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,113,11ECC461B684E7ED07BF221B3A25F280,1,270.00,289.0,4,2,1099.0,1,0
284215,9A7B8074B58EA2E911EE67970F36988C,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-10-11,2023-10-11T20:29:32.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,113,11EBCF68A3A311738AEBB7EC0DF069A0,1,438.00,469.0,4,2,1099.0,1,0
284214,9A7B8074B58EA2E911EE67970F36988C,0.0,0.0,000D3A20F23EA95811E7B99F3ED09FC8,2023-10-11,2023-10-11T20:29:32.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,113,000D3A240C71BE9A11E719BE2AD1424A,1,391.00,419.0,4,2,1099.0,1,0
220820,3E966FEC2E5CAB2511EE73E5DE5E36B2,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-10-27,2023-10-27T11:37:02.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,116,11EBDBAD9256C958742D3444159FEE40,7,69.00,69.0,4,2,70.0,3,0
220819,3E966FEC2E5CAB2511EE73E5DE5E36B2,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-10-27,2023-10-27T11:37:02.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,116,000D3A24D2B7A94311E857AF49FDC657,3,1.00,169.0,4,2,70.0,3,0
274448,022E53F65AA39A4111EE77BDDEEB83C2,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-10-31,2023-10-31T10:26:22.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,118,000D3A23B0DC80DC11E7394C21B62198,2,1.00,149.0,4,2,170.0,3,0
274447,022E53F65AA39A4111EE77BDDEEB83C2,NaN,NaN,000D3A20F23EA95811E7B99F3ED09FC8,2023-10-31,2023-10-31T10:26:22.000Z,000D3A22FA54A81411E9601BA8B68CF8,0,118,000D3A24D2B7A94311E857AF49FDC657,3,169.00,169.0,4,2,170.0,3,0

In [60]:
orders.addressId.nunique()  # У пользователя есть некая информация об адресе, но адресов много.
# Может, адрес NaN в случаях, если клиент заказал пиццу в ресторане

2706

In [61]:
orders.deliverySectorId.nunique()  # Сектора доставки могут быть обобщением для адресов.
# Присвою секторам и адресам доставки средний приоритет

1259

In [62]:
# Видно также, что OrderUUId чётко связан со временем заказа.

In [63]:
# У клиента - 4 ордера согдасно mobile_events. Посмотрим, сколько ордеров у этого клиента в orders, связанных с доставкой
id_ord_0_filtered = id_ord_0[id_ord_0['addressId'] == 0.0]
id_ord_0_filtered.OrderUUId.nunique()  # Пять ордеров! Значит, заказал как-то ещё.

5

In [64]:
# Я посмотрел "просто глазами" на таймстемы выполненных заказов в мобильном приложении
# Увидел, что некоторые заказы в orders имеют те же даты, что и заказы в приложении, но время заказа отличается примерно на 2 часа вперёд.
# Как будто пользователь делает заказ в приложении, а через два часа что-то с закзазом происходит, и он попадает в 
# ордера.
# Получается, что между информацией mobile_events и orders может быть связь, и надо как-то учесть все эти переменные.
# Для формирования датасета стоит попробовать привязать даты активности в приложении к датам заказов.
# Наверное, в датасете будет много строк для одного ID клиента.

In [65]:
# но посмотрим на этого же клиента в train_target и test

In [66]:
id_train_target_0 = train_target.loc[train_target['ClientUUId'].str.contains('000D3A20F23EA95811E7B99F3ED09FC8', na=False)]
id_train_target_0  # Что же делать? Формировать эмбеддинги?
# В train_target промо пристёгивается к OrderType. Надо как-то подтярнуть прошлые данные к этим данным в трейне и тесте.

,ClientUUId,Id,OrderType,LocalBeginDate,LocalEndDate,OrderPrice,Discount,apply_promo
0,000D3A20F23EA95811E7B99F3ED09FC8,7,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,699,200,0
1,000D3A20F23EA95811E7B99F3ED09FC8,6,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,25,0

In [67]:
# Всего две строки, но это тоже неплохо. Промо не использовал. Есть время заказа. Сравним это время с тем, что есть в orders

In [68]:
id_test_0 = test.loc[test['ClientUUId'].str.contains('000D3A20F23EA95811E7B99F3ED09FC8', na=False)]
id_test_0  # В тесте нет

Empty DataFrame
Columns: [ClientUUId, Id, OrderType, LocalBeginDate, LocalEndDate, OrderPrice, Discount]
Index: []

In [69]:
# Вернёмя к просмотру ордеров клиента.
# Интересно, что клиент 000D3A20F23EA95811E7B99F3ED09FC8 не новый, и у него более 100 заказов. Но информация о заказах иимеет "разрывы"

In [70]:
orders.columns

Index(['OrderUUId', 'addressId', 'deliverySectorId', 'ClientUUId', 'Date',
       'SaleDate', 'UnitUUId', 'NewClient', 'ClientOrderNumber', 'ProductUUId',
       'CategoryId', 'ProductTotalPrice', 'MenuPrice', 'OrderState',
       'OrderPaymentType', 'OrderTotalPrice', 'OrderType', 'apply_promo'],
      dtype='object')

In [71]:
id_ord_0.ProductUUId.nunique()  # 24 продукта, вот такое разнообразие

24

In [72]:
id_ord_0.CategoryId.nunique()  # 5 категорий товара. Интересно, у него устоявшиеся вкусы

5

In [73]:
# При формировании таблицы можно будет посчитать общее разнообразие продуктов
# И сделать также переменную, в котой будет записано медианное количество продуктов (и переменнюя медианы категорий продуктов)

In [74]:
# В финальном датасете также посчитаю медиану стоимости продуктов в заказе, медиану стоимости заказа, минимум и максимум стоимости заказа

In [75]:
# Присвою низкий приоритет операциям OrderPaymentType (просто нет идей, как это использовать) и OrderType. 
# Если OrderType равен 3, то deliverySectorId или addressId имеют NaN.
# Если OrderType, равен 3, то deliverySectorId или addressId имеют какое-то значение.

In [76]:
# Думаю, максимальный номер заказа из ClientOrderNumber можно использовать, чтобы охарактеризовать стаж пользования продуктами

In [77]:
orders.UnitUUId.nunique()  # при формировании датасета планирую использовать UnitUUId - уникальный id пиццерии, записать самый частый. 
# Из много, и информация о них являются суррогатом информации о зоне доставки. Присвою низкий приоритет

784

In [78]:
# В финальный датасет также можно записать OrderUUId - уникальный ID заказа. Просто посчитать количество этих самых заказов.
# Date - можно попробовать вытащить информацию о выходных, и рассчитать, 
# любит ли клиент больше заказывать в выходные, или в будни. Потом можно привязать к таргету

In [79]:
# И самое интересное - рассмотренный сейчас клиент не использовал промо, но в инфе о заказах уже есть данные о цене товара в меню
# И цене товара с учётом всех скидок. Значит, пользователь и так пользуется какими-то скидками.
# Этот фактор может как-то влиять на промо. Иногда магазин предоставляет несколько скидок, некоторые из которых оказываются взаимоисключиющими
# SaleDate - суррогат от Date, но с точным временем. Не буду делать время, не разобрался с эмбеддингами. Не буду использовать

In [80]:
orders.OrderState.nunique()  # И напосредок - непонятная величина OrderState. Можно записать в финальный датасет

2

In [81]:
# Итак, приоритеты
"""
Приоритеты переменных из orders

Высокий
NewClient - 1, если это первый заказ у клиента. 0 иначе. Может, в зависимости от статуса "клюнет" на промо по-своему
OrderTotalPrice 
MenuPrice  - ProductTotalPrice 

Средний
OrderUUId - уникальный ID заказа. Просто посчитать количество этих самых заказов.
Platform - Аппле и или андроид.
addressId - преобразовать в самый частый
deliverySectorId - преобразовать в самый частый
ClientOrderNumber - записать максимальный номер
ProductUUId - преобразовать в медианное количество продуктов на заказ
CategoryId - преобразовать
ProductTotalPrice - преобразовать в медиану стоимости продукта на заказ, минимум и максимум стоимости продукта во всех заказах клиента
OrderTotalPrice - преобразовать в медиану стоимости заказа, минимум и максимум стоимости заказа
Date - можно попробовать вытащить информацию о выходных, и рассчитать, любит ли клиент
больше заказывать в выходные, или в будни. Потом можно привязать к таргету

Низкий
VisitToken - не вполне совпадает с датами активности в приложении.
UnitUUId - уникальный id пиццерии, записать самый частый.
OrderType - суррогат addressId и deliverySectorId
OrderState - непонятно, что это такое

Вообще не буду использовать
OrderPaymentType - какая разница? Клиент и так заплатил
SaleDate - суррогат от Date, но с точным временем. Не буду делать время, не разобрался с эмбеддингами.

"""

'\nПриоритеты переменных из orders\n\nВысокий\nNewClient - 1, если это первый заказ у клиента. 0 иначе. Может, в зависимости от статуса "клюнет" на промо по-своему\nOrderTotalPrice \nMenuPrice  - ProductTotalPrice \n\nСредний\nOrderUUId - уникальный ID заказа. Просто посчитать количество этих самых заказов.\nPlatform - Аппле и или андроид.\naddressId - преобразовать в самый частый\ndeliverySectorId - преобразовать в самый частый\nClientOrderNumber - записать максимальный номер\nProductUUId - преобразовать в медианное количество продуктов на заказ\nCategoryId - преобразовать\nProductTotalPrice - преобразовать в медиану стоимости продукта на заказ, минимум и максимум стоимости продукта во всех заказах клиента\nOrderTotalPrice - преобразовать в медиану стоимости заказа, минимум и максимум стоимости заказа\nDate - можно попробовать вытащить информацию о выходных, и рассчитать, любит ли клиент\nбольше заказывать в выходные, или в будни. Потом можно привязать к таргету\n\nНизкий\nVisitToken - не вполне совпадает с датами активности в приложении.\nUnitUUId - уникальный id пиццерии, записать самый частый.\nOrderType - суррогат addressId и deliverySectorId\nOrderState - непонятно, что это такое\n\nВообще не буду использовать\nOrderPaymentType - какая разница? Клиент и так заплатил\nSaleDate - суррогат от Date, но с точным временем. Не буду делать время, не разобрался с эмбеддингами.\n\n'

# Feature engineering

In [82]:
orders.NewClient.nunique()

2

In [83]:
orders.NewClient.value_counts()

NewClient
0    611338
1       401
Name: count, dtype: int64

### Создание фичи NewClient1 для всех ID, которые хоть раз имели 1 в поле NewClient

In [84]:
orders['NewClient1'] = orders.groupby('ClientUUId')['NewClient'].transform('max')
orders['NewClient1'] = (orders['NewClient1'] > 0).astype(int)

In [85]:
orders.NewClient1.value_counts()

NewClient1
0    607617
1      4122
Name: count, dtype: int64

### Создание данных медианы, среднего, минимума и максимума на основании OrderTotalPrice для каждого ID клиента

In [86]:
orders['OrderMedianPrice'] = orders.groupby('ClientUUId')['OrderTotalPrice'].transform('median')

In [87]:
orders['OrderMeanPrice'] = orders.groupby('ClientUUId')['OrderTotalPrice'].transform('mean')

In [88]:
orders['OrderMinPrice'] = orders.groupby('ClientUUId')['OrderTotalPrice'].transform('min')
orders['OrderMaxPrice'] = orders.groupby('ClientUUId')['OrderTotalPrice'].transform('max')

### Запишем медиану разницы между стоимостью в меню и фактической после всех скидок для всех товаров каждого клиента
Запишем её в процентах

In [89]:
orders['DiscountPercent'] = (orders['MenuPrice'] - orders['ProductTotalPrice']) / orders['MenuPrice'] * 100
orders['MedianDiscountPercent'] = orders.groupby('ClientUUId')['DiscountPercent'].transform('median')

In [90]:
orders = orders.drop(['DiscountPercent'], axis=1)

### Занесём данные о количестве уникальных ID продуктов, которые когда-либо были заказаны клиентом

In [91]:
unique_order_counts = orders.groupby('ClientUUId')['ProductUUId'].nunique().reset_index(name='ProductUUIdCount')
orders = orders.merge(unique_order_counts, on='ClientUUId', how='left')

### Занесём данные о медиане числа уникальных ID продуктов в каждом индивидуальном заказе клиента

In [92]:
# Подсчитываем количество уникальных ProductUUId для каждого OrderUUId и ClientUUId
unique_product_counts = orders.groupby(['ClientUUId', 'OrderUUId'])['ProductUUId'].nunique().reset_index(name='UniqueProductCount')
# Вычисляем медиану количества уникальных ProductUUId для каждого ClientUUId
median_product_counts = unique_product_counts.groupby('ClientUUId')['UniqueProductCount'].median().reset_index(name='ProductUUIdMedian')
orders = orders.merge(median_product_counts, on='ClientUUId', how='left')

### Сохраним информацию о самом частовстречающемся addressId для пользователя

In [93]:
# Подсчитываем самое частое значение addressId для каждого ClientUUId, игнорируя NaN
platform_mode = orders.groupby('ClientUUId')['addressId'].agg(lambda x: x.dropna().mode()[0] if not x.dropna().empty else None).reset_index(name='addressIdMain')
orders = orders.merge(platform_mode, on='ClientUUId', how='left')

### Сохраним информацию о самом частовстречающемся deliverySectorId для пользователя

In [94]:
# Подсчитываем самое частое значение deliverySectorId для каждого ClientUUId, игнорируя NaN
platform_mode = orders.groupby('ClientUUId')['deliverySectorId'].agg(lambda x: x.dropna().mode()[0] if not x.dropna().empty else None).reset_index(name='deliverySectorIdMain')
orders = orders.merge(platform_mode, on='ClientUUId', how='left')

### Запишем также максимальный номер заказа

In [95]:
max_order_number = orders.groupby('ClientUUId')['ClientOrderNumber'].max().reset_index(name='ClientOrderMaxNumber')
orders = orders.merge(max_order_number, on='ClientUUId', how='left')

### Сохраним информацию о самой частовстречающейся категории товара для пользователя

In [96]:
сategoryid_mode = orders.groupby('ClientUUId')['CategoryId'].agg(lambda x: x.mode()[0]).reset_index(name='CategoryIdMain')
orders = orders.merge(сategoryid_mode, on='ClientUUId', how='left')

### Сохраним самый распространённый тип ордера пользователя

In [97]:
ordertype_mode = orders.groupby('ClientUUId')['OrderType'].agg(lambda x: x.mode()[0]).reset_index(name='OrderTypeMain')
orders = orders.merge(ordertype_mode, on='ClientUUId', how='left')

### Сохраним данные о выходных или рабочих днях, и отразим среднее значение по времени заказов (выходные-будни)

In [98]:
orders['Date'] = pd.to_datetime(orders['Date'])
orders['Weekends'] = orders['Date'].dt.weekday.apply(lambda x: 1 if x >= 5 else 0)

In [99]:
# Вычисляем среднее значение Weekends для каждого ClientUUId
week_balance = orders.groupby('ClientUUId')['Weekends'].mean().reset_index(name='WeekBalance')
orders = orders.merge(week_balance, on='ClientUUId', how='left')

### Выведем наиболее распространённый ID пиццерии для каждого клиента

In [100]:
unituuid_mode = orders.groupby('ClientUUId')['UnitUUId'].agg(lambda x: x.mode()[0]).reset_index(name='UnitUUIdMain')
orders = orders.merge(unituuid_mode, on='ClientUUId', how='left')

### Переносим данные о предпочтительной платформе

In [101]:
platform_mode = mobile_events.groupby('ClientUUId')['Platform'].agg(lambda x: x.mode()[0]).reset_index(name='MostFrequentPlatform')
platform_mode['MostFrequentPlatform'] = platform_mode['MostFrequentPlatform'].map({'ios': 1, 'android': 0}).astype(int)
platform_mode.rename(columns={'MostFrequentPlatform': 'PlatformMain'}, inplace=True)
orders = orders.merge(platform_mode, on='ClientUUId', how='left')

### Сохраняем факт применения промоакции как среднее значение применения промо

In [102]:
apply_promo = orders.groupby('ClientUUId')['apply_promo'].mean().reset_index(name='ApplyedPromoBalance')
orders = orders.merge(apply_promo, on='ClientUUId', how='left')

### Перенос данных из clients_promo_october

In [103]:
clients_promo_october

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
0,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,25
1,000D3A20F23EA95811E7B7D79FAABAA1,5,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,300
2,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1249,200
3,000D3A20F23EA95811E7B99F3ED09FC8,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1249,30
4,000D3A20F23EA95811E7BD373E79565E,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,20
...,...,...,...,...,...,...,...
477270,82EDCEB57826A0A811ED680C33F09E52,6,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",799,20
477271,82F78FC7401A9ADD11EDFA15A350D31F,5,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",799,200
477272,82F78FC7401AA4A811EDF992437D8CC6,5,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",799,200
477273,82F9662CB356B7E011EE167FC961059B,6,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",799,20
477274,8606F5E4CA39BF7211EE517E6E1D90B7,6,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",749,25

In [104]:
clients_promo_october.ClientUUId.nunique()

30000

In [105]:
train_target.ClientUUId.nunique()

18598

In [106]:
train_target.shape

(27741, 8)

In [107]:
test.ClientUUId.nunique()

4559

In [108]:
test.shape

(6806, 7)

In [109]:
clients_promo_october.Id.nunique()

3

In [110]:
clients_promo_october.OrderType.nunique()

2

In [111]:
clients_promo_october.head()

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
0,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,25
1,000D3A20F23EA95811E7B7D79FAABAA1,5,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,300
2,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1249,200
3,000D3A20F23EA95811E7B99F3ED09FC8,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1249,30
4,000D3A20F23EA95811E7BD373E79565E,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,20

Ранее было уже установлено, что все ID клиентов из train_target и test могут быть найдены в файле clients_promo_october.
Перед переносом данных из clients_promo_october в orders попробую сделать подобные преобразования с ценой и дискаунтом.
Перенесу данные механике (Id), OrderType, OrderPrice, и дискаунте в процентах

In [112]:
a = clients_promo_october.loc[clients_promo_october['ClientUUId'].str.contains('000D3A20F23EA95811E7B7104AC23CD3', na=False)]
a = a.sort_values(by=['LocalEndDate'])
a

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
113882,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"2,3",799,20
380451,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-02T00:00:00.000Z,2023-10-04T23:59:00.000Z,"1,2,3",1199,30
131620,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1249,25
425582,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",799,20
80939,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",1299,300
292970,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",799,200
0,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1299,25
26862,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",799,20
238719,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",799,20
265768,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",1249,300
53576,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",1249,30
319549,000D3A20F23EA95811E7B7104AC23CD3,6,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",799,20
346760,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",1249,300
398296,000D3A20F23EA95811E7B7104AC23CD3,5,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",799,200

In [113]:
a = clients_promo_october.loc[clients_promo_october['ClientUUId'].str.contains('000D3A20F23EA95811E7B8BD71C73877', na=False)]
a = a.sort_values(by=['LocalEndDate'])
a

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount
131622,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1199,200
425584,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",999,200
80941,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",1199,200
292972,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",999,200
2,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1249,200
26864,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",999,200
238721,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",999,200
265770,000D3A20F23EA95811E7B8BD71C73877,6,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",1249,25
53578,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",1349,150
319551,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",799,200
346762,000D3A20F23EA95811E7B8BD71C73877,6,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",1249,25
398298,000D3A20F23EA95811E7B8BD71C73877,6,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",799,20
155969,000D3A20F23EA95811E7B8BD71C73877,6,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"1,2,3",1249,30
183603,000D3A20F23EA95811E7B8BD71C73877,6,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"2,3",799,20
211083,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"1,2,3",1249,250
449790,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",799,200

ID скидки можно пропустить. Сам Discount уже мощный предиктор.
OrderType из clients_promo_october тоже пропущу. Пропущу также дату, так как промо можно использовать только тогда, когда оно есть.

In [114]:
# Запишем медианный и максимальный размер предлагаемой скидки в процентах
clients_promo_october['DiscountPercentPromo'] = 100 - (clients_promo_october['OrderPrice'] - clients_promo_october['Discount']) / clients_promo_october['OrderPrice'] * 100
clients_promo_october['MedianDiscountPercentPromo'] = clients_promo_october.groupby('ClientUUId')['DiscountPercentPromo'].transform('median')

In [115]:
clients_promo_october['MaxDiscountPercentPromo'] = clients_promo_october.groupby('ClientUUId')['DiscountPercentPromo'].transform('max')

In [116]:
a = clients_promo_october.loc[clients_promo_october['ClientUUId'].str.contains('000D3A20F23EA95811E7B8BD71C73877', na=False)]
a = a.sort_values(by=['LocalEndDate'])
a.head()

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount,DiscountPercentPromo,MedianDiscountPercentPromo,MaxDiscountPercentPromo
131622,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1199,200,16.680567,16.680567,25.031289
425584,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",999,200,20.020020,16.680567,25.031289
80941,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",1199,200,16.680567,16.680567,25.031289
292972,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",999,200,20.020020,16.680567,25.031289
2,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1249,200,16.012810,16.680567,25.031289

In [117]:
clients_promo_october = clients_promo_october.drop(['DiscountPercentPromo'], axis=1)

In [118]:
# Переносим данные в orders
orders = orders.merge(clients_promo_october[['ClientUUId', 'MedianDiscountPercentPromo', 'MaxDiscountPercentPromo']], 
                      on='ClientUUId', how='left')

Теперь посмотрим соответствие октябрських промо и октябрьских заказов

In [119]:
a = clients_promo_october.loc[clients_promo_october['ClientUUId'].str.contains('000D3A20F23EA95811E7B8BD71C73877', na=False)]
a = a.sort_values(by=['LocalEndDate'])
a.shape

(16, 9)

In [120]:
a

,ClientUUId,Id,LocalBeginDate,LocalEndDate,OrderType,OrderPrice,Discount,MedianDiscountPercentPromo,MaxDiscountPercentPromo
131622,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"1,2,3",1199,200,16.680567,25.031289
425584,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-05T00:00:00.000Z,2023-10-08T23:59:00.000Z,"2,3",999,200,16.680567,25.031289
80941,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"1,2,3",1199,200,16.680567,25.031289
292972,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-09T00:00:00.000Z,2023-10-11T23:59:00.000Z,"2,3",999,200,16.680567,25.031289
2,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"1,2,3",1249,200,16.680567,25.031289
26864,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-12T00:00:00.000Z,2023-10-15T23:59:00.000Z,"2,3",999,200,16.680567,25.031289
238721,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"2,3",999,200,16.680567,25.031289
265770,000D3A20F23EA95811E7B8BD71C73877,6,2023-10-16T00:00:00.000Z,2023-10-18T23:59:00.000Z,"1,2,3",1249,25,16.680567,25.031289
53578,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"1,2,3",1349,150,16.680567,25.031289
319551,000D3A20F23EA95811E7B8BD71C73877,5,2023-10-19T00:00:00.000Z,2023-10-22T23:59:00.000Z,"2,3",799,200,16.680567,25.031289
346762,000D3A20F23EA95811E7B8BD71C73877,6,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"1,2,3",1249,25,16.680567,25.031289
398298,000D3A20F23EA95811E7B8BD71C73877,6,2023-10-23T00:00:00.000Z,2023-10-25T23:59:00.000Z,"2,3",799,20,16.680567,25.031289
155969,000D3A20F23EA95811E7B8BD71C73877,6,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"1,2,3",1249,30,16.680567,25.031289
183603,000D3A20F23EA95811E7B8BD71C73877,6,2023-10-26T00:00:00.000Z,2023-10-29T23:59:00.000Z,"2,3",799,20,16.680567,25.031289
211083,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"1,2,3",1249,250,16.680567,25.031289
449790,000D3A20F23EA95811E7B8BD71C73877,7,2023-10-30T00:00:00.000Z,2023-11-01T23:59:00.000Z,"2,3",799,200,16.680567,25.031289

In [121]:
b = orders.loc[orders['ClientUUId'].str.contains('000D3A20F23EA95811E7B8BD71C73877', na=False)]
b = b.sort_values(by=['SaleDate'])
b.shape

(560, 38)

In [122]:
b.apply_promo.value_counts()

apply_promo
0    480
1     80
Name: count, dtype: int64

In [123]:
c = b.copy()

In [124]:
c.columns

Index(['OrderUUId', 'addressId', 'deliverySectorId', 'ClientUUId', 'Date',
       'SaleDate', 'UnitUUId', 'NewClient', 'ClientOrderNumber', 'ProductUUId',
       'CategoryId', 'ProductTotalPrice', 'MenuPrice', 'OrderState',
       'OrderPaymentType', 'OrderTotalPrice', 'OrderType', 'apply_promo',
       'NewClient1', 'OrderMedianPrice', 'OrderMeanPrice', 'OrderMinPrice',
       'OrderMaxPrice', 'MedianDiscountPercent', 'ProductUUIdCount',
       'ProductUUIdMedian', 'addressIdMain', 'deliverySectorIdMain',
       'ClientOrderMaxNumber', 'CategoryIdMain', 'OrderTypeMain', 'Weekends',
       'WeekBalance', 'UnitUUIdMain', 'PlatformMain', 'ApplyedPromoBalance',
       'MedianDiscountPercentPromo', 'MaxDiscountPercentPromo'],
      dtype='object')

In [125]:
c = c[['ClientOrderNumber', 'Date', 'SaleDate', 'apply_promo']]
c.iloc[330:380]

         ClientOrderNumber       Date                  SaleDate  apply_promo
6172117                118 2023-09-19  2023-09-19T15:49:06.000Z            0
6172116                118 2023-09-19  2023-09-19T15:49:06.000Z            0
6172115                118 2023-09-19  2023-09-19T15:49:06.000Z            0
6172114                118 2023-09-19  2023-09-19T15:49:06.000Z            0
6172113                118 2023-09-19  2023-09-19T15:49:06.000Z            0
6172118                118 2023-09-19  2023-09-19T15:49:06.000Z            0
7130205                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130206                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130213                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130207                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130208                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130209                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130210                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130211                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130228                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130214                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130221                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130216                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130217                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130218                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130219                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130220                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130222                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130223                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130224                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130204                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130225                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130215                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130203                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130212                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130201                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130226                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130243                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130242                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130241                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130240                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130239                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130238                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130237                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130236                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130235                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130234                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130233                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130232                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130231                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130230                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130229                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130196                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130197                119 2023-10-08  2023-10-08T15:00:11.000Z            0
7130198                119 2023-10-08  2023-10-08T15:00:11.000Z            0

### Создаём orders_features на основе orders

In [126]:
orders.columns

Index(['OrderUUId', 'addressId', 'deliverySectorId', 'ClientUUId', 'Date',
       'SaleDate', 'UnitUUId', 'NewClient', 'ClientOrderNumber', 'ProductUUId',
       'CategoryId', 'ProductTotalPrice', 'MenuPrice', 'OrderState',
       'OrderPaymentType', 'OrderTotalPrice', 'OrderType', 'apply_promo',
       'NewClient1', 'OrderMedianPrice', 'OrderMeanPrice', 'OrderMinPrice',
       'OrderMaxPrice', 'MedianDiscountPercent', 'ProductUUIdCount',
       'ProductUUIdMedian', 'addressIdMain', 'deliverySectorIdMain',
       'ClientOrderMaxNumber', 'CategoryIdMain', 'OrderTypeMain', 'Weekends',
       'WeekBalance', 'UnitUUIdMain', 'PlatformMain', 'ApplyedPromoBalance',
       'MedianDiscountPercentPromo', 'MaxDiscountPercentPromo'],
      dtype='object')

In [127]:
orders_features = orders[['ClientUUId', 'NewClient1', 'OrderMedianPrice', 
       'OrderMeanPrice', 'OrderMinPrice', 'OrderMaxPrice',
       'MedianDiscountPercent', 'ProductUUIdCount', 'ProductUUIdMedian',
       'addressIdMain', 'deliverySectorIdMain', 'ClientOrderMaxNumber',
       'CategoryIdMain', 'OrderTypeMain', 'WeekBalance', 'PlatformMain',
       'ApplyedPromoBalance', 'MedianDiscountPercentPromo', 'MaxDiscountPercentPromo']]

In [128]:
orders_features

,ClientUUId,NewClient1,OrderMedianPrice,OrderMeanPrice,OrderMinPrice,OrderMaxPrice,MedianDiscountPercent,ProductUUIdCount,ProductUUIdMedian,addressIdMain,deliverySectorIdMain,ClientOrderMaxNumber,CategoryIdMain,OrderTypeMain,WeekBalance,PlatformMain,ApplyedPromoBalance,MedianDiscountPercentPromo,MaxDiscountPercentPromo
0,000D3AAC9DCABB2E11EBE0614C89D044,0,667.0,652.250000,1.0,1156.0,0.000000,13,2.5,0.0,0.0,27,1,1,0.285714,1.0,0.142857,13.351135,20.850709
1,000D3AAC9DCABB2E11EBE0614C89D044,0,667.0,652.250000,1.0,1156.0,0.000000,13,2.5,0.0,0.0,27,1,1,0.285714,1.0,0.142857,13.351135,20.850709
2,000D3AAC9DCABB2E11EBE0614C89D044,0,667.0,652.250000,1.0,1156.0,0.000000,13,2.5,0.0,0.0,27,1,1,0.285714,1.0,0.142857,13.351135,20.850709
3,000D3AAC9DCABB2E11EBE0614C89D044,0,667.0,652.250000,1.0,1156.0,0.000000,13,2.5,0.0,0.0,27,1,1,0.285714,1.0,0.142857,13.351135,20.850709
4,000D3AAC9DCABB2E11EBE0614C89D044,0,667.0,652.250000,1.0,1156.0,0.000000,13,2.5,0.0,0.0,27,1,1,0.285714,1.0,0.142857,13.351135,20.850709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9942911,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
9942912,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
9942913,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
9942914,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
9942915,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688

In [129]:
orders_features.describe()

,NewClient1,OrderMedianPrice,OrderMeanPrice,OrderMinPrice,OrderMaxPrice,MedianDiscountPercent,ProductUUIdCount,ProductUUIdMedian,addressIdMain,deliverySectorIdMain,ClientOrderMaxNumber,CategoryIdMain,OrderTypeMain,WeekBalance,PlatformMain,ApplyedPromoBalance,MedianDiscountPercentPromo,MaxDiscountPercentPromo
count,9.942916e+06,9.942916e+06,9.942916e+06,9.942916e+06,9.942916e+06,9.942916e+06,9.942916e+06,9.942916e+06,9.374383e+06,9.374383e+06,9.942916e+06,9.942916e+06,9.942916e+06,9.942916e+06,9.893176e+06,9.942916e+06,9.942916e+06,9.942916e+06
mean,6.828379e-03,1.110311e+03,1.153779e+03,4.419205e+02,1.824166e+03,9.745692e+00,2.013199e+01,3.775354e+00,4.418418e+04,1.369677e+01,5.600519e+01,2.434422e+00,1.341039e+00,3.417921e-01,5.246493e-01,1.834250e-01,1.303092e+01,2.500462e+01
std,8.235140e-02,2.166611e+03,1.951031e+03,3.366290e+02,2.314064e+03,1.033501e+01,7.074477e+00,1.556409e+00,7.987188e+05,2.543728e+02,5.022824e+01,1.459837e+00,7.519683e-01,2.073774e-01,4.993921e-01,2.254486e-01,7.144676e+00,2.314003e+00
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+01,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.006405e-01,1.668057e+00
25%,0.000000e+00,7.250000e+02,7.777297e+02,1.690000e+02,1.167000e+03,0.000000e+00,1.500000e+01,3.000000e+00,0.000000e+00,0.000000e+00,2.600000e+01,1.000000e+00,1.000000e+00,1.857143e-01,0.000000e+00,0.000000e+00,3.337784e+00,2.503129e+01
50%,0.000000e+00,9.720000e+02,1.010895e+03,4.570000e+02,1.527000e+03,8.875740e+00,2.000000e+01,3.500000e+00,0.000000e+00,0.000000e+00,4.300000e+01,3.000000e+00,1.000000e+00,3.207547e-01,1.000000e+00,9.756098e-02,1.625030e+01,2.503129e+01
75%,0.000000e+00,1.256000e+03,1.302382e+03,6.490000e+02,2.090000e+03,1.765730e+01,2.500000e+01,4.500000e+00,0.000000e+00,0.000000e+00,7.000000e+01,3.000000e+00,1.000000e+00,4.750000e-01,1.000000e+00,3.137255e-01,1.924557e+01,2.634352e+01
max,1.000000e+00,9.941800e+04,8.970443e+04,2.619000e+03,9.941800e+04,1.000000e+02,5.400000e+01,1.200000e+01,1.809301e+07,6.660000e+03,1.845000e+03,7.000000e+00,3.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.682053e+01,3.533569e+01

In [130]:
orders_features.deliverySectorIdMain.value_counts()

deliverySectorIdMain
0.0       9334452
5609.0       1692
930.0        1476
5640.0       1404
4463.0       1036
           ...
2134.0        147
5118.0        136
1147.0        132
4708.0        128
1407.0        114
Name: count, Length: 81, dtype: int64

In [131]:
a = orders_features.loc[orders_features['ClientUUId'].str.contains('000D3A22FA54A81411E9BC5EF27EE5BF', na=False)]
a

,ClientUUId,NewClient1,OrderMedianPrice,OrderMeanPrice,OrderMinPrice,OrderMaxPrice,MedianDiscountPercent,ProductUUIdCount,ProductUUIdMedian,addressIdMain,deliverySectorIdMain,ClientOrderMaxNumber,CategoryIdMain,OrderTypeMain,WeekBalance,PlatformMain,ApplyedPromoBalance,MedianDiscountPercentPromo,MaxDiscountPercentPromo
3197256,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
3197257,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
3197258,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
3197259,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
3197260,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9942911,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
9942912,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
9942913,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
9942914,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688
9942915,000D3A22FA54A81411E9BC5EF27EE5BF,0,750.0,872.631579,500.0,1454.0,19.977472,14,3.0,0.0,0.0,33,1,1,0.526316,0.0,0.263158,11.676898,23.094688

In [132]:
# Оставляем только первую строку для каждого уникального ClientUUId
orders_features = orders_features.drop_duplicates(subset='ClientUUId', keep='first')

In [133]:
orders_features.shape

(16337, 19)

In [134]:
orders_features.head()

,ClientUUId,NewClient1,OrderMedianPrice,OrderMeanPrice,OrderMinPrice,OrderMaxPrice,MedianDiscountPercent,ProductUUIdCount,ProductUUIdMedian,addressIdMain,deliverySectorIdMain,ClientOrderMaxNumber,CategoryIdMain,OrderTypeMain,WeekBalance,PlatformMain,ApplyedPromoBalance,MedianDiscountPercentPromo,MaxDiscountPercentPromo
0,000D3AAC9DCABB2E11EBE0614C89D044,0,667.0,652.250000,1.0,1156.0,0.000000,13,2.5,0.0,0.0,27,1,1,0.285714,1.0,0.142857,13.351135,20.850709
16,000D3A21DA51A81411EAF10674007D74,0,833.0,899.407407,709.0,1327.0,0.000000,19,5.0,0.0,0.0,30,5,1,0.444444,1.0,0.000000,16.680567,20.016013
88,000D3A21DA51A81411EB20EA0BCED69F,0,1035.5,1053.369565,580.0,1528.0,20.879310,30,4.0,0.0,0.0,51,1,1,0.326087,1.0,0.543478,9.257970,25.031289
248,000D3AAC9DCABB2E11EC61B878C2C25F,0,655.0,599.230769,279.0,942.0,11.926606,11,1.0,0.0,0.0,43,1,3,0.692308,0.0,0.384615,2.503129,25.031289
266,000D3A24D2B7A94311E85FF188C29E29,0,1018.0,999.777778,1.0,1609.0,15.562404,19,3.0,0.0,0.0,22,1,1,0.296296,0.0,0.111111,21.443888,29.446408

In [135]:
orders_features.describe()

,NewClient1,OrderMedianPrice,OrderMeanPrice,OrderMinPrice,OrderMaxPrice,MedianDiscountPercent,ProductUUIdCount,ProductUUIdMedian,addressIdMain,deliverySectorIdMain,ClientOrderMaxNumber,CategoryIdMain,OrderTypeMain,WeekBalance,PlatformMain,ApplyedPromoBalance,MedianDiscountPercentPromo,MaxDiscountPercentPromo
count,16337.000000,16337.000000,16337.000000,16337.000000,16337.000000,16337.000000,16337.000000,16337.000000,1.496300e+04,14963.000000,16337.000000,16337.000000,16337.000000,16337.000000,16251.00000,16337.000000,16337.000000,16337.000000
mean,0.006733,975.359123,1020.136787,394.821509,1633.779886,10.121086,18.033299,3.223695,5.740290e+04,17.138876,55.208912,2.176960,1.445431,0.341588,0.52766,0.176222,12.770941,25.017687
std,0.081782,943.470487,858.861611,324.044323,1220.726092,11.006788,6.822617,1.392859,9.028263e+05,279.387544,51.903689,1.401766,0.831979,0.208270,0.49925,0.222421,7.191715,2.460528
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000e+00,0.000000,10.000000,1.000000,1.000000,0.000000,0.00000,0.000000,0.800641,1.668057
25%,0.000000,677.500000,718.756757,99.000000,1080.000000,0.000000,13.000000,2.000000,0.000000e+00,0.000000,25.000000,1.000000,1.000000,0.185185,0.00000,0.000000,3.337784,25.031289
50%,0.000000,898.000000,933.200000,380.000000,1416.000000,9.174312,18.000000,3.000000,0.000000e+00,0.000000,41.000000,1.000000,1.000000,0.320988,1.00000,0.088235,16.012810,25.031289
75%,0.000000,1167.500000,1203.813953,612.000000,1906.000000,18.637681,22.000000,4.000000,0.000000e+00,0.000000,68.000000,3.000000,1.000000,0.476190,1.00000,0.300000,18.942960,26.702270
max,1.000000,99418.000000,89704.430328,2619.000000,99418.000000,100.000000,54.000000,12.000000,1.809301e+07,6660.000000,1845.000000,7.000000,3.000000,1.000000,1.00000,1.000000,26.820531,35.335689

In [136]:
orders_features.to_csv(dir + 'orders_features.csv', index=False)

### Переносим данные в трейн

In [137]:
train_target

,ClientUUId,Id,OrderType,LocalBeginDate,LocalEndDate,OrderPrice,Discount,apply_promo
0,000D3A20F23EA95811E7B99F3ED09FC8,7,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,699,200,0
1,000D3A20F23EA95811E7B99F3ED09FC8,6,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,25,0
2,000D3A20F23EA95811E7BD373E79565E,5,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,799,200,0
3,000D3A20F23EA95811E7BD373E79565E,5,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,250,0
4,000D3A20F23EA95811E7BDAE71CD3F33,6,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,699,30,0
...,...,...,...,...,...,...,...,...
27736,82EDBCD6CE60978F11EDC591DCA75401,5,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,799,200,0
27737,82EDBCD6CE60978F11EDC591DCA75401,5,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,250,0
27738,82F78FC7401A9ADD11EDFA15A350D31F,6,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,799,20,0
27739,8606F5E4CA39BF7211EE517E6E1D90B7,5,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,749,200,0
27740,8606F5E4CA39BF7211EE517E6E1D90B7,5,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,250,0

In [138]:
train_target_c = train_target.copy()  # контролсейв

In [139]:
train_target = train_target_c.copy()

In [140]:
# Запишем медианный и максимальный размер предлагаемой скидки в процентах, а также в абсолютных значениях
train_target['DiscountPercentPromo'] = 100 - (train_target['OrderPrice'] - train_target['Discount']) / train_target['OrderPrice'] * 100
train_target['MedianDiscountPercentNovemberPromo'] = train_target.groupby('ClientUUId')['DiscountPercentPromo'].transform('median')
train_target['MaxDiscountPercentNovemberPromo'] = train_target.groupby('ClientUUId')['DiscountPercentPromo'].transform('max')
train_target['AvgDisc'] = train_target.groupby('ClientUUId')['Discount'].transform('mean')
train_target['MaxDisc'] = train_target.groupby('ClientUUId')['Discount'].transform('max')

In [141]:
train_target

,ClientUUId,Id,OrderType,LocalBeginDate,LocalEndDate,OrderPrice,Discount,apply_promo,DiscountPercentPromo,MedianDiscountPercentNovemberPromo,MaxDiscountPercentNovemberPromo,AvgDisc,MaxDisc
0,000D3A20F23EA95811E7B99F3ED09FC8,7,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,699,200,0,28.612303,15.306952,28.612303,112.5,200
1,000D3A20F23EA95811E7B99F3ED09FC8,6,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,25,0,2.001601,15.306952,28.612303,112.5,200
2,000D3A20F23EA95811E7BD373E79565E,5,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,799,200,0,25.031289,22.523651,25.031289,225.0,250
3,000D3A20F23EA95811E7BD373E79565E,5,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,250,0,20.016013,22.523651,25.031289,225.0,250
4,000D3A20F23EA95811E7BDAE71CD3F33,6,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,699,30,0,4.291845,12.153929,20.016013,140.0,250
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27736,82EDBCD6CE60978F11EDC591DCA75401,5,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,799,200,0,25.031289,22.523651,25.031289,225.0,250
27737,82EDBCD6CE60978F11EDC591DCA75401,5,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,250,0,20.016013,22.523651,25.031289,225.0,250
27738,82F78FC7401A9ADD11EDFA15A350D31F,6,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,799,20,0,2.503129,2.503129,2.503129,20.0,20
27739,8606F5E4CA39BF7211EE517E6E1D90B7,5,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,749,200,0,26.702270,23.359141,26.702270,225.0,250
27740,8606F5E4CA39BF7211EE517E6E1D90B7,5,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,250,0,20.016013,23.359141,26.702270,225.0,250

In [142]:
train_target = train_target.drop(['LocalBeginDate', 'LocalEndDate', 'OrderPrice', 'Discount'], axis=1)

In [143]:
train_target.head(2)

,ClientUUId,Id,OrderType,apply_promo,DiscountPercentPromo,MedianDiscountPercentNovemberPromo,MaxDiscountPercentNovemberPromo,AvgDisc,MaxDisc
0,000D3A20F23EA95811E7B99F3ED09FC8,7,"2,3",0,28.612303,15.306952,28.612303,112.5,200
1,000D3A20F23EA95811E7B99F3ED09FC8,6,"1,2,3",0,2.001601,15.306952,28.612303,112.5,200

In [144]:
train_features_target = train_target.merge(orders_features, on='ClientUUId', how='left')

In [145]:
train_features_target

,ClientUUId,Id,OrderType,apply_promo,DiscountPercentPromo,MedianDiscountPercentNovemberPromo,MaxDiscountPercentNovemberPromo,AvgDisc,MaxDisc,NewClient1,...,addressIdMain,deliverySectorIdMain,ClientOrderMaxNumber,CategoryIdMain,OrderTypeMain,WeekBalance,PlatformMain,ApplyedPromoBalance,MedianDiscountPercentPromo,MaxDiscountPercentPromo
0,000D3A20F23EA95811E7B99F3ED09FC8,7,"2,3",0,28.612303,15.306952,28.612303,112.5,200,0.0,...,0.0,0.0,118.0,1.0,1.0,0.060606,1.0,0.000000,2.682180,25.031289
1,000D3A20F23EA95811E7B99F3ED09FC8,6,"1,2,3",0,2.001601,15.306952,28.612303,112.5,200,0.0,...,0.0,0.0,118.0,1.0,1.0,0.060606,1.0,0.000000,2.682180,25.031289
2,000D3A20F23EA95811E7BD373E79565E,5,"2,3",0,25.031289,22.523651,25.031289,225.0,250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000D3A20F23EA95811E7BD373E79565E,5,"1,2,3",0,20.016013,22.523651,25.031289,225.0,250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000D3A20F23EA95811E7BDAE71CD3F33,6,"2,3",0,4.291845,12.153929,20.016013,140.0,250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27736,82EDBCD6CE60978F11EDC591DCA75401,5,"2,3",0,25.031289,22.523651,25.031289,225.0,250,0.0,...,0.0,0.0,13.0,1.0,3.0,0.238095,0.0,0.238095,2.503129,25.031289
27737,82EDBCD6CE60978F11EDC591DCA75401,5,"1,2,3",0,20.016013,22.523651,25.031289,225.0,250,0.0,...,0.0,0.0,13.0,1.0,3.0,0.238095,0.0,0.238095,2.503129,25.031289
27738,82F78FC7401A9ADD11EDFA15A350D31F,6,"2,3",0,2.503129,2.503129,2.503129,20.0,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27739,8606F5E4CA39BF7211EE517E6E1D90B7,5,"2,3",0,26.702270,23.359141,26.702270,225.0,250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27740,8606F5E4CA39BF7211EE517E6E1D90B7,5,"1,2,3",0,20.016013,23.359141,26.702270,225.0,250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
d = train_features_target.loc[train_features_target['ClientUUId'].str.contains('8606F5E4CA39BF7211EE517E6E1D90B7', na=False)]
d

,ClientUUId,Id,OrderType,apply_promo,DiscountPercentPromo,MedianDiscountPercentNovemberPromo,MaxDiscountPercentNovemberPromo,AvgDisc,MaxDisc,NewClient1,...,addressIdMain,deliverySectorIdMain,ClientOrderMaxNumber,CategoryIdMain,OrderTypeMain,WeekBalance,PlatformMain,ApplyedPromoBalance,MedianDiscountPercentPromo,MaxDiscountPercentPromo
27739,8606F5E4CA39BF7211EE517E6E1D90B7,5,"2,3",0,26.702270,23.359141,26.70227,225.0,250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27740,8606F5E4CA39BF7211EE517E6E1D90B7,5,"1,2,3",0,20.016013,23.359141,26.70227,225.0,250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
train_features_target.OrderType.unique()

array(['2,3', '1,2,3'], dtype=object)

In [148]:
# Словарь замен
replace_dict = {
    '2,3': 2,
    '1,2,3': 1,
}

# Функция для замены значений в строках
def replace_order_type(order_type, replace_dict):
    return replace_dict.get(order_type, order_type)

# Применяем функцию к колонке OrderType
train_features_target['OrderType'] = train_features_target['OrderType'].apply(lambda x: replace_order_type(x, replace_dict))

In [149]:
train_features_target

,ClientUUId,Id,OrderType,apply_promo,DiscountPercentPromo,MedianDiscountPercentNovemberPromo,MaxDiscountPercentNovemberPromo,AvgDisc,MaxDisc,NewClient1,...,addressIdMain,deliverySectorIdMain,ClientOrderMaxNumber,CategoryIdMain,OrderTypeMain,WeekBalance,PlatformMain,ApplyedPromoBalance,MedianDiscountPercentPromo,MaxDiscountPercentPromo
0,000D3A20F23EA95811E7B99F3ED09FC8,7,2,0,28.612303,15.306952,28.612303,112.5,200,0.0,...,0.0,0.0,118.0,1.0,1.0,0.060606,1.0,0.000000,2.682180,25.031289
1,000D3A20F23EA95811E7B99F3ED09FC8,6,1,0,2.001601,15.306952,28.612303,112.5,200,0.0,...,0.0,0.0,118.0,1.0,1.0,0.060606,1.0,0.000000,2.682180,25.031289
2,000D3A20F23EA95811E7BD373E79565E,5,2,0,25.031289,22.523651,25.031289,225.0,250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000D3A20F23EA95811E7BD373E79565E,5,1,0,20.016013,22.523651,25.031289,225.0,250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000D3A20F23EA95811E7BDAE71CD3F33,6,2,0,4.291845,12.153929,20.016013,140.0,250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27736,82EDBCD6CE60978F11EDC591DCA75401,5,2,0,25.031289,22.523651,25.031289,225.0,250,0.0,...,0.0,0.0,13.0,1.0,3.0,0.238095,0.0,0.238095,2.503129,25.031289
27737,82EDBCD6CE60978F11EDC591DCA75401,5,1,0,20.016013,22.523651,25.031289,225.0,250,0.0,...,0.0,0.0,13.0,1.0,3.0,0.238095,0.0,0.238095,2.503129,25.031289
27738,82F78FC7401A9ADD11EDFA15A350D31F,6,2,0,2.503129,2.503129,2.503129,20.0,20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27739,8606F5E4CA39BF7211EE517E6E1D90B7,5,2,0,26.702270,23.359141,26.702270,225.0,250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27740,8606F5E4CA39BF7211EE517E6E1D90B7,5,1,0,20.016013,23.359141,26.702270,225.0,250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
train_features_target.columns

Index(['ClientUUId', 'Id', 'OrderType', 'apply_promo', 'DiscountPercentPromo',
       'MedianDiscountPercentNovemberPromo', 'MaxDiscountPercentNovemberPromo',
       'AvgDisc', 'MaxDisc', 'NewClient1', 'OrderMedianPrice',
       'OrderMeanPrice', 'OrderMinPrice', 'OrderMaxPrice',
       'MedianDiscountPercent', 'ProductUUIdCount', 'ProductUUIdMedian',
       'addressIdMain', 'deliverySectorIdMain', 'ClientOrderMaxNumber',
       'CategoryIdMain', 'OrderTypeMain', 'WeekBalance', 'PlatformMain',
       'ApplyedPromoBalance', 'MedianDiscountPercentPromo',
       'MaxDiscountPercentPromo'],
      dtype='object')

In [151]:
train_features_target = train_features_target.drop(['ClientUUId'], axis=1)

In [152]:
# сохраняем train_features_target, тренировочный файл со всеми признаками и пробелами
train_features_target.to_csv(dir + 'train_features_target.csv', index=False)

In [153]:
train_features_target_clean = train_features_target.dropna()

In [154]:
train_features_target_clean.shape

(13924, 26)

In [155]:
# сохраняем train_features_target, тренировочный файл со всеми признаками и без пробелов
train_features_target_clean.to_csv(dir + 'train_features_target_clean.csv', index=False)

In [156]:
median_values = train_features_target.median()

In [157]:
median_values

Id                                       6.000000
OrderType                                2.000000
apply_promo                              0.000000
DiscountPercentPromo                    20.016013
MedianDiscountPercentNovemberPromo      20.522050
MaxDiscountPercentNovemberPromo         25.031289
AvgDisc                                200.000000
MaxDisc                                200.000000
NewClient1                               0.000000
OrderMedianPrice                       907.000000
OrderMeanPrice                         940.916118
OrderMinPrice                          416.000000
OrderMaxPrice                         1419.000000
MedianDiscountPercent                    9.721497
ProductUUIdCount                        18.000000
ProductUUIdMedian                        3.000000
addressIdMain                            0.000000
deliverySectorIdMain                     0.000000
ClientOrderMaxNumber                    41.000000
CategoryIdMain                           1.000000
OrderTypeMain                            1.000000
WeekBalance                              0.322581
PlatformMain                             1.000000
ApplyedPromoBalance                      0.093750
MedianDiscountPercentPromo              13.678500
MaxDiscountPercentPromo                 25.031289
dtype: float64

In [158]:
train_features_target_filled = train_features_target.fillna(median_values)

In [159]:
# сохраняем train_features_target, тренировочный файл со всеми признаками и без пробелов
train_features_target_filled.to_csv(dir + 'train_features_target_filled.csv', index=False)

### Переносим данные в тест

In [160]:
test

,ClientUUId,Id,OrderType,LocalBeginDate,LocalEndDate,OrderPrice,Discount
0,000D3A20F23EA95811E7C0A95563344E,7,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,200
1,000D3A20F23EA95811E7C7892A0CE261,5,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,699,200
2,000D3A20F23EA95811E7CD686C396528,6,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,20
3,000D3A20F23EA95911E7CEA8C574EDAE,5,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,200
4,000D3A20F23EA95911E7D4F05C59C978,7,"2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,799,200
...,...,...,...,...,...,...,...
6801,E25501F0CF189F4711ECF161D396AAEB,5,"1,2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,1249,250
6802,000D3AAC977BBB2F11ECDE319AE8B765,7,"1,2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,1249,200
6803,000D3A39D824A81611E922DAAA472ACF,6,"1,2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,1249,20
6804,000D3A39D824A82E11E983DB973D46C8,7,"1,2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,1149,200
6805,000D3A21DA51A81311EA440F30295A02,7,"1,2,3",2023-11-02T00:00:00Z,2023-11-05T23:59:00Z,1249,250

In [161]:
# Запишем медианный и максимальный размер предлагаемой скидки в процентах, а также в абсолютных значениях
test['DiscountPercentPromo'] = 100 - (test['OrderPrice'] - test['Discount']) / test['OrderPrice'] * 100
test['MedianDiscountPercentNovemberPromo'] = test.groupby('ClientUUId')['DiscountPercentPromo'].transform('median')
test['MaxDiscountPercentNovemberPromo'] = test.groupby('ClientUUId')['DiscountPercentPromo'].transform('max')
test['AvgDisc'] = test.groupby('ClientUUId')['Discount'].transform('mean')
test['MaxDisc'] = test.groupby('ClientUUId')['Discount'].transform('max')

In [162]:
test = test.drop(['LocalBeginDate', 'LocalEndDate', 'OrderPrice', 'Discount'], axis=1)

In [163]:
test.head(2)

,ClientUUId,Id,OrderType,DiscountPercentPromo,MedianDiscountPercentNovemberPromo,MaxDiscountPercentNovemberPromo,AvgDisc,MaxDisc
0,000D3A20F23EA95811E7C0A95563344E,7,"2,3",25.031289,25.031289,25.031289,200.0,200
1,000D3A20F23EA95811E7C7892A0CE261,5,"2,3",28.612303,28.612303,28.612303,200.0,200

In [164]:
test_features = test.merge(orders_features, on='ClientUUId', how='left')
test_features

,ClientUUId,Id,OrderType,DiscountPercentPromo,MedianDiscountPercentNovemberPromo,MaxDiscountPercentNovemberPromo,AvgDisc,MaxDisc,NewClient1,OrderMedianPrice,...,addressIdMain,deliverySectorIdMain,ClientOrderMaxNumber,CategoryIdMain,OrderTypeMain,WeekBalance,PlatformMain,ApplyedPromoBalance,MedianDiscountPercentPromo,MaxDiscountPercentPromo
0,000D3A20F23EA95811E7C0A95563344E,7,"2,3",25.031289,25.031289,25.031289,200.0,200,0.0,544.0,...,0.0,0.0,49.0,1.0,1.0,0.666667,0.0,0.066667,14.460512,25.031289
1,000D3A20F23EA95811E7C7892A0CE261,5,"2,3",28.612303,28.612303,28.612303,200.0,200,0.0,906.0,...,0.0,0.0,102.0,3.0,1.0,0.586207,1.0,0.465517,4.291845,30.030030
2,000D3A20F23EA95811E7CD686C396528,6,"2,3",2.503129,2.503129,2.503129,20.0,20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000D3A20F23EA95911E7CEA8C574EDAE,5,"2,3",25.031289,20.522050,25.031289,200.0,200,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000D3A20F23EA95911E7D4F05C59C978,7,"2,3",25.031289,25.031289,25.031289,200.0,200,0.0,698.0,...,NaN,NaN,23.0,3.0,3.0,0.241379,0.0,0.379310,19.656898,25.031289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6801,E25501F0CF189F4711ECF161D396AAEB,5,"1,2,3",20.016013,11.259571,20.016013,135.0,250,0.0,1312.5,...,0.0,0.0,21.0,1.0,1.0,0.607143,1.0,0.000000,20.016013,25.031289
6802,000D3AAC977BBB2F11ECDE319AE8B765,7,"1,2,3",16.012810,9.341519,16.012810,110.0,200,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6803,000D3A39D824A81611E922DAAA472ACF,6,"1,2,3",1.601281,13.316285,25.031289,110.0,200,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6804,000D3A39D824A82E11E983DB973D46C8,7,"1,2,3",17.406440,9.954785,17.406440,110.0,200,0.0,720.0,...,0.0,0.0,70.0,1.0,1.0,0.529412,0.0,0.441176,19.245574,25.031289
6805,000D3A21DA51A81311EA440F30295A02,7,"1,2,3",20.016013,22.523651,25.031289,225.0,250,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
# Словарь замен
replace_dict = {
    '2,3': 2,
    '1,2,3': 1,
}

# Функция для замены значений в строках
def replace_order_type(order_type, replace_dict):
    return replace_dict.get(order_type, order_type)
# Применяем функцию к колонке OrderType
test_features['OrderType'] = test_features['OrderType'].apply(lambda x: replace_order_type(x, replace_dict))

In [166]:
test_features = test_features.drop(['ClientUUId'], axis=1)

In [167]:
# сохраняем test_features, тренировочный файл со всеми признаками и пробелами
test_features.to_csv(dir + 'test_features.csv', index=False)

In [168]:
test_features_clean = test_features.dropna()
test_features_clean.to_csv(dir + 'test_features_clean.csv', index=False)

In [169]:
test_features_filled = test_features.fillna(median_values)

In [170]:
# сохраняем test_features, тренировочный файл со всеми признаками и без пробелов
test_features_filled.to_csv(dir + 'test_features_filled.csv', index=False)